In [489]:
import pandas as pd
import numpy as np
import re

import seaborn as sns
import matplotlib.pyplot as plt

# Report 2025: a

In [490]:
# df turnover, gross turnover, net turnover, taxes, types of payment, taxes by payment method, reveneu breakdowns, cancellations, discounts, tables

columns_a = ['Item','PLU', 'Count', 'Total', '%', 'Tip']
repo25_a = pd.read_csv('./data_files/report-year-2025-112439.csv', sep=';', skiprows=6, nrows=127, names=columns_a)

In [491]:
# check df

print(repo25_a.head())
print(repo25_a.columns)
print(repo25_a.info())

              Item  PLU  Count      Total        %  Tip
0            Total  NaN    NaN  214913,44  92,55 %  NaN
1         Expenses  NaN    NaN       0,00   0,00 %  NaN
2  Service charges  NaN    NaN       0,00   0,00 %  NaN
3              Tip  NaN    NaN   17303,90   7,45 %  NaN
4              NaN  NaN    NaN        NaN      NaN  NaN
Index(['Item', 'PLU', 'Count', 'Total', '%', 'Tip'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Item    118 non-null    object
 1   PLU     0 non-null      float64
 2   Count   74 non-null     float64
 3   Total   109 non-null    object
 4   %       109 non-null    object
 5   Tip     16 non-null     object
dtypes: float64(2), object(4)
memory usage: 6.1+ KB
None

In [492]:
# drop 'PLU' column cos only NaN values

repo25_a['PLU'].values
repo25_a.drop(columns=['PLU'], inplace=True)

In [493]:
# drop rows with only NaN values

repo25_a = repo25_a.dropna(how='all')

In [494]:
# check values on 'Item' column

repo25_a.reset_index(drop=True, inplace=True)
list(repo25_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, 'Gross turnover'),
 (5, '7.000%'),
 (6, '19.000%'),
 (7, 'total'),
 (8, 'Net turnover'),
 (9, '7.000%'),
 (10, '19.000%'),
 (11, 'total'),
 (12, 'Taxes'),
 (13, '7.000%'),
 (14, '19.000%'),
 (15, 'total'),
 (16, 'Types of payment'),
 (17, 'Bar'),
 (18, 'DEBIT MASTERCARD'),
 (19, 'Kartenzahlung'),
 (20, 'Maestro'),
 (21, 'MasterCard'),
 (22, 'Mehrzweckgutschein einlösen'),
 (23, 'Revolut'),
 (24, 'Uber eats Zahlung'),
 (25, 'Visa'),
 (26, 'Visa Electron'),
 (27, 'Wolt Zahlung'),
 (28, 'total'),
 (29, 'Taxes by payment method'),
 (30, 'Bar - 7.00%'),
 (31, 'Bar - 19.00%'),
 (32, 'DEBIT MASTERCARD - 19.00%'),
 (33, 'Kartenzahlung - 7.00%'),
 (34, 'Kartenzahlung - 19.00%'),
 (35, 'Maestro - 7.00%'),
 (36, 'Maestro - 19.00%'),
 (37, 'MasterCard - 7.00%'),
 (38, 'MasterCard - 19.00%'),
 (39, 'Mehrzweckgutschein einlösen - 7.00%'),
 (40, 'Mehrzweckgutschein einlösen - 19.00%'),
 (41, 'Revolut - 19.00%'),
 (42, 'Uber eats Zahlung - 7.00%'),
 (43, 'Visa - 7.00%'),
 (44, 'Visa - 19.00%'),
 (45, 'Visa Electron - 7.00%'),
 (46, 'Visa Electron - 19.00%'),
 (47, 'Wolt Zahlung - 7.00%'),
 (48, 'Revenue Breakdown'),
 (49, 'Kaylin I PIN 1234'),
 (50, 'Uber eats'),
 (51, 'Wolt'),
 (52, 'total'),
 (53, 'Cancellations'),
 (54, 'Customer changed their mind'),
 (55, 'Customer left w/o paying'),
 (56, 'Misinterpret'),
 (57, 'Reklamation'),
 (58, 'Sold out'),
 (59, 'Training'),
 (60, 'Typo'),
 (61, 'total'),
 (62, 'Discounts'),
 (63, 'Orderhub Discount'),
 (64, 'staff'),
 (65, 'Personal 1/2 Preis'),
 (66, 'friend meghan'),
 (67, 'mistake'),
 (68, 'malaika'),
 (69, 'meg friend'),
 (70, 'friends'),
 (71, 'Friends'),
 (72, 'bert'),
 (73, 'Einladung'),
 (74, 'meg'),
 (75, 'neighbours'),
 (76, 'gurpreet friend'),
 (77, 'rachel friend'),
 (78, 'judo friends'),
 (79, 'rachel friend '),
 (80, 'kaylin friend'),
 (81, 'Daily Special'),
 (82, 'meg '),
 (83, 'Maryana approved'),
 (84, 'rachel and friend'),
 (85, 'family'),
 (86, 'total'),
 (87, 'Tables'),
 (88, 'D 1'),
 (89, 'D 10'),
 (90, 'D 11'),
 (91, 'D 2'),
 (92, 'D 3'),
 (93, 'D 4'),
 (94, 'D 5'),
 (95, 'D 6'),
 (96, 'D 7'),
 (97, 'D 8'),
 (98, 'D 9'),
 (99, 'Table 17'),
 (100, 'Theke'),
 (101, 'Tisch 1'),
 (102, 'Tisch 10'),
 (103, 'Tisch 11'),
 (104, 'Tisch 12'),
 (105, 'Tisch 13'),
 (106, 'Tisch 14'),
 (107, 'Tisch 15'),
 (108, 'Tisch 16'),
 (109, 'Tisch 2'),
 (110, 'Tisch 3'),
 (111, 'Tisch 4'),
 (112, 'Tisch 5'),
 (113, 'Tisch 6'),
 (114, 'Tisch 7'),
 (115, 'Tisch 8'),
 (116, 'Tisch 9'),
 (117, 'To Go')]

In [495]:
# drop values in 'Item' column that are non-essential

repo25_a = repo25_a.drop([4, 8, 12, 16, 29, 48, 53, 62, 87])
repo25_a.reset_index(drop=True, inplace=True)
list(repo25_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, '7.000%'),
 (5, '19.000%'),
 (6, 'total'),
 (7, '7.000%'),
 (8, '19.000%'),
 (9, 'total'),
 (10, '7.000%'),
 (11, '19.000%'),
 (12, 'total'),
 (13, 'Bar'),
 (14, 'DEBIT MASTERCARD'),
 (15, 'Kartenzahlung'),
 (16, 'Maestro'),
 (17, 'MasterCard'),
 (18, 'Mehrzweckgutschein einlösen'),
 (19, 'Revolut'),
 (20, 'Uber eats Zahlung'),
 (21, 'Visa'),
 (22, 'Visa Electron'),
 (23, 'Wolt Zahlung'),
 (24, 'total'),
 (25, 'Bar - 7.00%'),
 (26, 'Bar - 19.00%'),
 (27, 'DEBIT MASTERCARD - 19.00%'),
 (28, 'Kartenzahlung - 7.00%'),
 (29, 'Kartenzahlung - 19.00%'),
 (30, 'Maestro - 7.00%'),
 (31, 'Maestro - 19.00%'),
 (32, 'MasterCard - 7.00%'),
 (33, 'MasterCard - 19.00%'),
 (34, 'Mehrzweckgutschein einlösen - 7.00%'),
 (35, 'Mehrzweckgutschein einlösen - 19.00%'),
 (36, 'Revolut - 19.00%'),
 (37, 'Uber eats Zahlung - 7.00%'),
 (38, 'Visa - 7.00%'),
 (39, 'Visa - 19.00%'),
 (40, 'Visa Electron - 7.00%'),
 (41, 'Visa Electron - 19.00%'),
 (42, 'Wolt Zahlung - 7.00%'),
 (43, 'Kaylin I PIN 1234'),
 (44, 'Uber eats'),
 (45, 'Wolt'),
 (46, 'total'),
 (47, 'Customer changed their mind'),
 (48, 'Customer left w/o paying'),
 (49, 'Misinterpret'),
 (50, 'Reklamation'),
 (51, 'Sold out'),
 (52, 'Training'),
 (53, 'Typo'),
 (54, 'total'),
 (55, 'Orderhub Discount'),
 (56, 'staff'),
 (57, 'Personal 1/2 Preis'),
 (58, 'friend meghan'),
 (59, 'mistake'),
 (60, 'malaika'),
 (61, 'meg friend'),
 (62, 'friends'),
 (63, 'Friends'),
 (64, 'bert'),
 (65, 'Einladung'),
 (66, 'meg'),
 (67, 'neighbours'),
 (68, 'gurpreet friend'),
 (69, 'rachel friend'),
 (70, 'judo friends'),
 (71, 'rachel friend '),
 (72, 'kaylin friend'),
 (73, 'Daily Special'),
 (74, 'meg '),
 (75, 'Maryana approved'),
 (76, 'rachel and friend'),
 (77, 'family'),
 (78, 'total'),
 (79, 'D 1'),
 (80, 'D 10'),
 (81, 'D 11'),
 (82, 'D 2'),
 (83, 'D 3'),
 (84, 'D 4'),
 (85, 'D 5'),
 (86, 'D 6'),
 (87, 'D 7'),
 (88, 'D 8'),
 (89, 'D 9'),
 (90, 'Table 17'),
 (91, 'Theke'),
 (92, 'Tisch 1'),
 (93, 'Tisch 10'),
 (94, 'Tisch 11'),
 (95, 'Tisch 12'),
 (96, 'Tisch 13'),
 (97, 'Tisch 14'),
 (98, 'Tisch 15'),
 (99, 'Tisch 16'),
 (100, 'Tisch 2'),
 (101, 'Tisch 3'),
 (102, 'Tisch 4'),
 (103, 'Tisch 5'),
 (104, 'Tisch 6'),
 (105, 'Tisch 7'),
 (106, 'Tisch 8'),
 (107, 'Tisch 9'),
 (108, 'To Go')]

In [496]:
# Define mask for both rows to combine
cm_dstaff = repo25_a['Item'].isin(['staff', 'Personal 1/2 Preis', 'bert', 'meg', 'meg '])

# Find the index of the first 'amber' to insert the combined row
fi_dstaff = repo25_a[repo25_a['Item'] == 'staff'].index[0]

# Sum the numeric columns
sum_dstaff = repo25_a.loc[cm_dstaff, ['Count', 'Total', '%', 'Tip']].sum()

# Create the new summarized row
dstaff = pd.DataFrame([{
    'Item': 'Discount: Staff',
    'Count': sum_dstaff['Count'],
    'Total': sum_dstaff['Total'],
    '%': sum_dstaff['%'],
    'Tip': sum_dstaff['Tip']
}])

# Remove original rows
repo25_a = repo25_a.loc[~cm_dstaff].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_a.iloc[:fi_dstaff]
bottom = repo25_a.iloc[fi_dstaff:]
repo25_a = pd.concat([top, dstaff, bottom], ignore_index=True)

list(repo25_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, '7.000%'),
 (5, '19.000%'),
 (6, 'total'),
 (7, '7.000%'),
 (8, '19.000%'),
 (9, 'total'),
 (10, '7.000%'),
 (11, '19.000%'),
 (12, 'total'),
 (13, 'Bar'),
 (14, 'DEBIT MASTERCARD'),
 (15, 'Kartenzahlung'),
 (16, 'Maestro'),
 (17, 'MasterCard'),
 (18, 'Mehrzweckgutschein einlösen'),
 (19, 'Revolut'),
 (20, 'Uber eats Zahlung'),
 (21, 'Visa'),
 (22, 'Visa Electron'),
 (23, 'Wolt Zahlung'),
 (24, 'total'),
 (25, 'Bar - 7.00%'),
 (26, 'Bar - 19.00%'),
 (27, 'DEBIT MASTERCARD - 19.00%'),
 (28, 'Kartenzahlung - 7.00%'),
 (29, 'Kartenzahlung - 19.00%'),
 (30, 'Maestro - 7.00%'),
 (31, 'Maestro - 19.00%'),
 (32, 'MasterCard - 7.00%'),
 (33, 'MasterCard - 19.00%'),
 (34, 'Mehrzweckgutschein einlösen - 7.00%'),
 (35, 'Mehrzweckgutschein einlösen - 19.00%'),
 (36, 'Revolut - 19.00%'),
 (37, 'Uber eats Zahlung - 7.00%'),
 (38, 'Visa - 7.00%'),
 (39, 'Visa - 19.00%'),
 (40, 'Visa Electron - 7.00%'),
 (41, 'Visa Electron - 19.00%'),
 (42, 'Wolt Zahlung - 7.00%'),
 (43, 'Kaylin I PIN 1234'),
 (44, 'Uber eats'),
 (45, 'Wolt'),
 (46, 'total'),
 (47, 'Customer changed their mind'),
 (48, 'Customer left w/o paying'),
 (49, 'Misinterpret'),
 (50, 'Reklamation'),
 (51, 'Sold out'),
 (52, 'Training'),
 (53, 'Typo'),
 (54, 'total'),
 (55, 'Orderhub Discount'),
 (56, 'Discount: Staff'),
 (57, 'friend meghan'),
 (58, 'mistake'),
 (59, 'malaika'),
 (60, 'meg friend'),
 (61, 'friends'),
 (62, 'Friends'),
 (63, 'Einladung'),
 (64, 'neighbours'),
 (65, 'gurpreet friend'),
 (66, 'rachel friend'),
 (67, 'judo friends'),
 (68, 'rachel friend '),
 (69, 'kaylin friend'),
 (70, 'Daily Special'),
 (71, 'Maryana approved'),
 (72, 'rachel and friend'),
 (73, 'family'),
 (74, 'total'),
 (75, 'D 1'),
 (76, 'D 10'),
 (77, 'D 11'),
 (78, 'D 2'),
 (79, 'D 3'),
 (80, 'D 4'),
 (81, 'D 5'),
 (82, 'D 6'),
 (83, 'D 7'),
 (84, 'D 8'),
 (85, 'D 9'),
 (86, 'Table 17'),
 (87, 'Theke'),
 (88, 'Tisch 1'),
 (89, 'Tisch 10'),
 (90, 'Tisch 11'),
 (91, 'Tisch 12'),
 (92, 'Tisch 13'),
 (93, 'Tisch 14'),
 (94, 'Tisch 15'),
 (95, 'Tisch 16'),
 (96, 'Tisch 2'),
 (97, 'Tisch 3'),
 (98, 'Tisch 4'),
 (99, 'Tisch 5'),
 (100, 'Tisch 6'),
 (101, 'Tisch 7'),
 (102, 'Tisch 8'),
 (103, 'Tisch 9'),
 (104, 'To Go')]

In [497]:
# Define mask for both rows to combine
cm_dff = repo25_a['Item'].isin(['friend meghan', 'malaika', 'meg friend', 'friends', 'Friends', 'gurpreet friend', 'rachel friend', 'judo friends', 'rachel friend ', 'kaylin friend', 'rachel and friend', 'family'])

# Find the index of the first 'amber' to insert the combined row
fi_dff = repo25_a[repo25_a['Item'] == 'friend meghan'].index[0]

# Sum the numeric columns
sum_dff = repo25_a.loc[cm_dff, ['Count', 'Total', '%', 'Tip']].sum()

# Create the new summarized row
dff = pd.DataFrame([{
    'Item': 'Discounts: Friends & Family',
    'Count': sum_dff['Count'],
    'Total': sum_dff['Total'],
    '%': sum_dff['%'],
    'Tip': sum_dff['Tip']
}])

# Remove original rows
repo25_a = repo25_a.loc[~cm_dff].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_a.iloc[:fi_dff]
bottom = repo25_a.iloc[fi_dff:]
repo25_a = pd.concat([top, dff, bottom], ignore_index=True)

list(repo25_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, '7.000%'),
 (5, '19.000%'),
 (6, 'total'),
 (7, '7.000%'),
 (8, '19.000%'),
 (9, 'total'),
 (10, '7.000%'),
 (11, '19.000%'),
 (12, 'total'),
 (13, 'Bar'),
 (14, 'DEBIT MASTERCARD'),
 (15, 'Kartenzahlung'),
 (16, 'Maestro'),
 (17, 'MasterCard'),
 (18, 'Mehrzweckgutschein einlösen'),
 (19, 'Revolut'),
 (20, 'Uber eats Zahlung'),
 (21, 'Visa'),
 (22, 'Visa Electron'),
 (23, 'Wolt Zahlung'),
 (24, 'total'),
 (25, 'Bar - 7.00%'),
 (26, 'Bar - 19.00%'),
 (27, 'DEBIT MASTERCARD - 19.00%'),
 (28, 'Kartenzahlung - 7.00%'),
 (29, 'Kartenzahlung - 19.00%'),
 (30, 'Maestro - 7.00%'),
 (31, 'Maestro - 19.00%'),
 (32, 'MasterCard - 7.00%'),
 (33, 'MasterCard - 19.00%'),
 (34, 'Mehrzweckgutschein einlösen - 7.00%'),
 (35, 'Mehrzweckgutschein einlösen - 19.00%'),
 (36, 'Revolut - 19.00%'),
 (37, 'Uber eats Zahlung - 7.00%'),
 (38, 'Visa - 7.00%'),
 (39, 'Visa - 19.00%'),
 (40, 'Visa Electron - 7.00%'),
 (41, 'Visa Electron - 19.00%'),
 (42, 'Wolt Zahlung - 7.00%'),
 (43, 'Kaylin I PIN 1234'),
 (44, 'Uber eats'),
 (45, 'Wolt'),
 (46, 'total'),
 (47, 'Customer changed their mind'),
 (48, 'Customer left w/o paying'),
 (49, 'Misinterpret'),
 (50, 'Reklamation'),
 (51, 'Sold out'),
 (52, 'Training'),
 (53, 'Typo'),
 (54, 'total'),
 (55, 'Orderhub Discount'),
 (56, 'Discount: Staff'),
 (57, 'Discounts: Friends & Family'),
 (58, 'mistake'),
 (59, 'Einladung'),
 (60, 'neighbours'),
 (61, 'Daily Special'),
 (62, 'Maryana approved'),
 (63, 'total'),
 (64, 'D 1'),
 (65, 'D 10'),
 (66, 'D 11'),
 (67, 'D 2'),
 (68, 'D 3'),
 (69, 'D 4'),
 (70, 'D 5'),
 (71, 'D 6'),
 (72, 'D 7'),
 (73, 'D 8'),
 (74, 'D 9'),
 (75, 'Table 17'),
 (76, 'Theke'),
 (77, 'Tisch 1'),
 (78, 'Tisch 10'),
 (79, 'Tisch 11'),
 (80, 'Tisch 12'),
 (81, 'Tisch 13'),
 (82, 'Tisch 14'),
 (83, 'Tisch 15'),
 (84, 'Tisch 16'),
 (85, 'Tisch 2'),
 (86, 'Tisch 3'),
 (87, 'Tisch 4'),
 (88, 'Tisch 5'),
 (89, 'Tisch 6'),
 (90, 'Tisch 7'),
 (91, 'Tisch 8'),
 (92, 'Tisch 9'),
 (93, 'To Go')]

In [498]:
# Define mask for both rows to combine
cm_dvou = repo25_a['Item'].isin(['Einladung', 'Maryana approved'])

# Find the index of the first 'amber' to insert the combined row
fi_dvou = repo25_a[repo25_a['Item'] == 'Einladung'].index[0]

# Sum the numeric columns
sum_dvou = repo25_a.loc[cm_dvou, ['Count', 'Total', '%', 'Tip']].sum()

# Create the new summarized row
dvou = pd.DataFrame([{
    'Item': 'Discount: Vouchers & Invites',
    'Count': sum_dvou['Count'],
    'Total': sum_dvou['Total'],
    '%': sum_dvou['%'],
    'Tip': sum_dvou['Tip']
}])

# Remove original rows
repo25_a = repo25_a.loc[~cm_dvou].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_a.iloc[:fi_dvou]
bottom = repo25_a.iloc[fi_dvou:]
repo25_a = pd.concat([top, dvou, bottom], ignore_index=True)

list(repo25_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, '7.000%'),
 (5, '19.000%'),
 (6, 'total'),
 (7, '7.000%'),
 (8, '19.000%'),
 (9, 'total'),
 (10, '7.000%'),
 (11, '19.000%'),
 (12, 'total'),
 (13, 'Bar'),
 (14, 'DEBIT MASTERCARD'),
 (15, 'Kartenzahlung'),
 (16, 'Maestro'),
 (17, 'MasterCard'),
 (18, 'Mehrzweckgutschein einlösen'),
 (19, 'Revolut'),
 (20, 'Uber eats Zahlung'),
 (21, 'Visa'),
 (22, 'Visa Electron'),
 (23, 'Wolt Zahlung'),
 (24, 'total'),
 (25, 'Bar - 7.00%'),
 (26, 'Bar - 19.00%'),
 (27, 'DEBIT MASTERCARD - 19.00%'),
 (28, 'Kartenzahlung - 7.00%'),
 (29, 'Kartenzahlung - 19.00%'),
 (30, 'Maestro - 7.00%'),
 (31, 'Maestro - 19.00%'),
 (32, 'MasterCard - 7.00%'),
 (33, 'MasterCard - 19.00%'),
 (34, 'Mehrzweckgutschein einlösen - 7.00%'),
 (35, 'Mehrzweckgutschein einlösen - 19.00%'),
 (36, 'Revolut - 19.00%'),
 (37, 'Uber eats Zahlung - 7.00%'),
 (38, 'Visa - 7.00%'),
 (39, 'Visa - 19.00%'),
 (40, 'Visa Electron - 7.00%'),
 (41, 'Visa Electron - 19.00%'),
 (42, 'Wolt Zahlung - 7.00%'),
 (43, 'Kaylin I PIN 1234'),
 (44, 'Uber eats'),
 (45, 'Wolt'),
 (46, 'total'),
 (47, 'Customer changed their mind'),
 (48, 'Customer left w/o paying'),
 (49, 'Misinterpret'),
 (50, 'Reklamation'),
 (51, 'Sold out'),
 (52, 'Training'),
 (53, 'Typo'),
 (54, 'total'),
 (55, 'Orderhub Discount'),
 (56, 'Discount: Staff'),
 (57, 'Discounts: Friends & Family'),
 (58, 'mistake'),
 (59, 'Discount: Vouchers & Invites'),
 (60, 'neighbours'),
 (61, 'Daily Special'),
 (62, 'total'),
 (63, 'D 1'),
 (64, 'D 10'),
 (65, 'D 11'),
 (66, 'D 2'),
 (67, 'D 3'),
 (68, 'D 4'),
 (69, 'D 5'),
 (70, 'D 6'),
 (71, 'D 7'),
 (72, 'D 8'),
 (73, 'D 9'),
 (74, 'Table 17'),
 (75, 'Theke'),
 (76, 'Tisch 1'),
 (77, 'Tisch 10'),
 (78, 'Tisch 11'),
 (79, 'Tisch 12'),
 (80, 'Tisch 13'),
 (81, 'Tisch 14'),
 (82, 'Tisch 15'),
 (83, 'Tisch 16'),
 (84, 'Tisch 2'),
 (85, 'Tisch 3'),
 (86, 'Tisch 4'),
 (87, 'Tisch 5'),
 (88, 'Tisch 6'),
 (89, 'Tisch 7'),
 (90, 'Tisch 8'),
 (91, 'Tisch 9'),
 (92, 'To Go')]

In [499]:
# Define mask for both rows to combine
cm_togo = repo25_a['Item'].isin(['Theke', 'To Go'])

# Find the index of the first 'amber' to insert the combined row
fi_togo = repo25_a[repo25_a['Item'] == 'Theke'].index[0]

# Sum the numeric columns
sum_togo = repo25_a.loc[cm_togo, ['Count', 'Total', '%', 'Tip']].sum()

# Create the new summarized row
togo = pd.DataFrame([{
    'Item': 'Table: To go',
    'Count': sum_togo['Count'],
    'Total': sum_togo['Total'],
    '%': sum_togo['%'],
    'Tip': sum_togo['Tip']
}])

# Remove original rows
repo25_a = repo25_a.loc[~cm_togo].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_a.iloc[:fi_togo]
bottom = repo25_a.iloc[fi_togo:]
repo25_a = pd.concat([top, togo, bottom], ignore_index=True)

list(repo25_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, '7.000%'),
 (5, '19.000%'),
 (6, 'total'),
 (7, '7.000%'),
 (8, '19.000%'),
 (9, 'total'),
 (10, '7.000%'),
 (11, '19.000%'),
 (12, 'total'),
 (13, 'Bar'),
 (14, 'DEBIT MASTERCARD'),
 (15, 'Kartenzahlung'),
 (16, 'Maestro'),
 (17, 'MasterCard'),
 (18, 'Mehrzweckgutschein einlösen'),
 (19, 'Revolut'),
 (20, 'Uber eats Zahlung'),
 (21, 'Visa'),
 (22, 'Visa Electron'),
 (23, 'Wolt Zahlung'),
 (24, 'total'),
 (25, 'Bar - 7.00%'),
 (26, 'Bar - 19.00%'),
 (27, 'DEBIT MASTERCARD - 19.00%'),
 (28, 'Kartenzahlung - 7.00%'),
 (29, 'Kartenzahlung - 19.00%'),
 (30, 'Maestro - 7.00%'),
 (31, 'Maestro - 19.00%'),
 (32, 'MasterCard - 7.00%'),
 (33, 'MasterCard - 19.00%'),
 (34, 'Mehrzweckgutschein einlösen - 7.00%'),
 (35, 'Mehrzweckgutschein einlösen - 19.00%'),
 (36, 'Revolut - 19.00%'),
 (37, 'Uber eats Zahlung - 7.00%'),
 (38, 'Visa - 7.00%'),
 (39, 'Visa - 19.00%'),
 (40, 'Visa Electron - 7.00%'),
 (41, 'Visa Electron - 19.00%'),
 (42, 'Wolt Zahlung - 7.00%'),
 (43, 'Kaylin I PIN 1234'),
 (44, 'Uber eats'),
 (45, 'Wolt'),
 (46, 'total'),
 (47, 'Customer changed their mind'),
 (48, 'Customer left w/o paying'),
 (49, 'Misinterpret'),
 (50, 'Reklamation'),
 (51, 'Sold out'),
 (52, 'Training'),
 (53, 'Typo'),
 (54, 'total'),
 (55, 'Orderhub Discount'),
 (56, 'Discount: Staff'),
 (57, 'Discounts: Friends & Family'),
 (58, 'mistake'),
 (59, 'Discount: Vouchers & Invites'),
 (60, 'neighbours'),
 (61, 'Daily Special'),
 (62, 'total'),
 (63, 'D 1'),
 (64, 'D 10'),
 (65, 'D 11'),
 (66, 'D 2'),
 (67, 'D 3'),
 (68, 'D 4'),
 (69, 'D 5'),
 (70, 'D 6'),
 (71, 'D 7'),
 (72, 'D 8'),
 (73, 'D 9'),
 (74, 'Table 17'),
 (75, 'Table: To go'),
 (76, 'Tisch 1'),
 (77, 'Tisch 10'),
 (78, 'Tisch 11'),
 (79, 'Tisch 12'),
 (80, 'Tisch 13'),
 (81, 'Tisch 14'),
 (82, 'Tisch 15'),
 (83, 'Tisch 16'),
 (84, 'Tisch 2'),
 (85, 'Tisch 3'),
 (86, 'Tisch 4'),
 (87, 'Tisch 5'),
 (88, 'Tisch 6'),
 (89, 'Tisch 7'),
 (90, 'Tisch 8'),
 (91, 'Tisch 9')]

In [500]:
# fixing row values names

repo25_a.loc[0, 'Item'] = 'Turnover: total'
repo25_a.loc[1, 'Item'] = 'Turnover: expenses'
repo25_a.loc[2, 'Item'] = 'Turnover: service charges'
repo25_a.loc[3, 'Item'] = 'Turnover: tip'

repo25_a.loc[4, 'Item'] = 'Gross Turnover: 19%'
repo25_a.loc[5, 'Item'] = 'Gross Turnover: 7%'
repo25_a.loc[6, 'Item'] = 'Gross Turnover: total'

repo25_a.loc[7, 'Item'] = 'Net Turnover: 19%'
repo25_a.loc[8, 'Item'] = 'Net Turnover: 7%'
repo25_a.loc[9, 'Item'] = 'Net Turnover: total'

repo25_a.loc[10, 'Item'] = 'Taxes: 19%'
repo25_a.loc[11, 'Item'] = 'Taxes: 7%'
repo25_a.loc[12, 'Item'] = 'Taxes: total'

repo25_a.loc[13, 'Item'] = 'Payment Type: Bar'
repo25_a.loc[14, 'Item'] = 'Payment Type: DEBIT MASTERCARD'
repo25_a.loc[15, 'Item'] = 'Payment Type: Kartenzahlung'
repo25_a.loc[16, 'Item'] = 'Payment Type: Maestro'
repo25_a.loc[17, 'Item'] = 'Payment Type: MasterCard'
repo25_a.loc[18, 'Item'] = 'Payment Type: Mehrzweckgutschein einlösen'
repo25_a.loc[19, 'Item'] = 'Payment Type: Revolut'
repo25_a.loc[20, 'Item'] = 'Payment Type: Uber eats Zahlung'
repo25_a.loc[21, 'Item'] = 'Payment Type: Visa'
repo25_a.loc[22, 'Item'] = 'Payment Type: Visa Electron'
repo25_a.loc[23, 'Item'] = 'Payment Type: Wolt Zahlung'
repo25_a.loc[24, 'Item'] = 'Payment Type: total'

repo25_a.loc[25, 'Item'] = 'Taxes Payment Type: Bar 7%'
repo25_a.loc[26, 'Item'] = 'Taxes Payment Type: Bar 19%'
repo25_a.loc[27, 'Item'] = 'Taxes Payment Type: DEBIT MASTERCARD 19%'
repo25_a.loc[28, 'Item'] = 'Taxes Payment Type: Kartenzahlung 7%'
repo25_a.loc[29, 'Item'] = 'Taxes Payment Type: Kartenzahlung 19%'
repo25_a.loc[30, 'Item'] = 'Taxes Payment Type: Maestro 7%'
repo25_a.loc[31, 'Item'] = 'Taxes Payment Type: Maestro 19%'
repo25_a.loc[32, 'Item'] = 'Taxes Payment Type: MasterCard 7%'
repo25_a.loc[33, 'Item'] = 'Taxes Payment Type: MasterCard 19%'
repo25_a.loc[34, 'Item'] = 'Taxes Payment Type: Mehrzweckgutschein einlösen 7%'
repo25_a.loc[35, 'Item'] = 'Taxes Payment Type: Mehrzweckgutschein einlösen 19%'
repo25_a.loc[36, 'Item'] = 'Taxes Payment Type: Revolut 19%'
repo25_a.loc[37, 'Item'] = 'Taxes Payment Type: Uber eats Zahlung 7%'
repo25_a.loc[38, 'Item'] = 'Taxes Payment Type: Visa 7%'
repo25_a.loc[39, 'Item'] = 'Taxes Payment Type: Visa 19%'
repo25_a.loc[40, 'Item'] = 'Taxes Payment Type: Visa Electron 7%'
repo25_a.loc[41, 'Item'] = 'Taxes Payment Type: Visa Electron 19%'
repo25_a.loc[42, 'Item'] = 'Payment Type: Wolt Zahlung 7%'

repo25_a.loc[43, 'Item'] = 'Revenue Breakdown: in-house Kasse'
repo25_a.loc[44, 'Item'] = 'Revenue Breakdown: Uber eats'
repo25_a.loc[45, 'Item'] = 'Revenue Breakdown: Wolt'
repo25_a.loc[46, 'Item'] = 'Revenue Breakdown: total'

repo25_a.loc[47, 'Item'] = 'Cancellations: customer changed their mind'
repo25_a.loc[48, 'Item'] = 'Cancellations: customer left w/o paying'
repo25_a.loc[49, 'Item'] = 'Cancellations: misinterpret'
repo25_a.loc[50, 'Item'] = 'Cancellations: Reklamation'
repo25_a.loc[51, 'Item'] = 'Cancellations: sold out'
repo25_a.loc[52, 'Item'] = 'Cancellations: training'
repo25_a.loc[53, 'Item'] = 'Cancellations: typo'
repo25_a.loc[54, 'Item'] = 'Cancellations: total'

repo25_a.loc[55, 'Item'] = 'Discounts: Orderhub Discount'
repo25_a.loc[58, 'Item'] = 'Discounts: mistake'
repo25_a.loc[60, 'Item'] = 'Discount: Neighbours'
repo25_a.loc[61, 'Item'] = 'Discounts: Daily Special'
repo25_a.loc[62, 'Item'] = 'Discounts: total'

repo25_a.loc[63, 'Item'] = 'Table: D1'
repo25_a.loc[64, 'Item'] = 'Table: D10'
repo25_a.loc[65, 'Item'] = 'Table: D11'
repo25_a.loc[66, 'Item'] = 'Table: D2'
repo25_a.loc[67, 'Item'] = 'Table: D3'
repo25_a.loc[68, 'Item'] = 'Table: D4'
repo25_a.loc[69, 'Item'] = 'Table: D5'
repo25_a.loc[70, 'Item'] = 'Table: D6'
repo25_a.loc[71, 'Item'] = 'Table: D7'
repo25_a.loc[72, 'Item'] = 'Table: D8'
repo25_a.loc[73, 'Item'] = 'Table: D9'
repo25_a.loc[74, 'Item'] = 'Table: 17'
repo25_a.loc[76, 'Item'] = 'Table: 1'
repo25_a.loc[77, 'Item'] = 'Table: 10'
repo25_a.loc[78, 'Item'] = 'Table: 11'
repo25_a.loc[79, 'Item'] = 'Table: 12'
repo25_a.loc[80, 'Item'] = 'Table: 13'
repo25_a.loc[81, 'Item'] = 'Table: 14'
repo25_a.loc[82, 'Item'] = 'Table: 15'
repo25_a.loc[83, 'Item'] = 'Table: 16'
repo25_a.loc[84, 'Item'] = 'Table: 2'
repo25_a.loc[85, 'Item'] = 'Table: 3'
repo25_a.loc[86, 'Item'] = 'Table: 4'
repo25_a.loc[87, 'Item'] = 'Table: 5'
repo25_a.loc[88, 'Item'] = 'Table: 6'
repo25_a.loc[89, 'Item'] = 'Table: 7'
repo25_a.loc[90, 'Item'] = 'Table: 8'
repo25_a.loc[91, 'Item'] = 'Table: 9'

In [501]:
# transform 'Total' and 'Tip' columns into numeric Euro values

euro_a = ['Total', 'Tip']

for col in euro_a:
    repo25_a[col] = pd.to_numeric(repo25_a[col], errors='coerce')
    repo25_a[col] = repo25_a[col].apply(lambda x: f"€{x:,.2f}" if pd.notnull(x) else '')

repo25_a

                         Item  Count Total        % Tip
0             Turnover: total    NaN        92,55 %
1          Turnover: expenses    NaN         0,00 %
2   Turnover: service charges    NaN         0,00 %
3               Turnover: tip    NaN         7,45 %
4         Gross Turnover: 19%    NaN        15,85 %
..                        ...    ...   ...      ...  ..
87                   Table: 5  120.0         2,28 %
88                   Table: 6  409.0         8,20 %
89                   Table: 7  107.0         1,91 %
90                   Table: 8  404.0         8,06 %
91                   Table: 9  115.0         1,94 %

[92 rows x 5 columns]

In [502]:
# check df (again)

print(repo25_a.head())
print(repo25_a.columns)
print(repo25_a.info())

                        Item  Count Total        % Tip
0            Turnover: total    NaN        92,55 %
1         Turnover: expenses    NaN         0,00 %
2  Turnover: service charges    NaN         0,00 %
3              Turnover: tip    NaN         7,45 %
4        Gross Turnover: 19%    NaN        15,85 %
Index(['Item', 'Count', 'Total', '%', 'Tip'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Item    92 non-null     object
 1   Count   57 non-null     float64
 2   Total   92 non-null     object
 3   %       92 non-null     object
 4   Tip     92 non-null     object
dtypes: float64(1), object(4)
memory usage: 3.7+ KB
None

In [503]:
# add 'Year' column

repo25_a['Year'] = '2025'
repo25_a

                         Item  Count Total        % Tip  Year
0             Turnover: total    NaN        92,55 %      2025
1          Turnover: expenses    NaN         0,00 %      2025
2   Turnover: service charges    NaN         0,00 %      2025
3               Turnover: tip    NaN         7,45 %      2025
4         Gross Turnover: 19%    NaN        15,85 %      2025
..                        ...    ...   ...      ...  ..   ...
87                   Table: 5  120.0         2,28 %      2025
88                   Table: 6  409.0         8,20 %      2025
89                   Table: 7  107.0         1,91 %      2025
90                   Table: 8  404.0         8,06 %      2025
91                   Table: 9  115.0         1,94 %      2025

[92 rows x 6 columns]

In [504]:
# export cleanead df to csv

repo25_a.to_csv('./data_files/repo25_a.csv', index=False)

# Report 2025: b

In [505]:
# df guests

repo25_b = pd.read_csv('./data_files/report-year-2025-112439.csv', sep=';', skiprows=134, nrows=2)
repo25_b

   Guests  Unnamed: 1   Total  Turnover per guest  Unnamed: 4
0     NaN         NaN  8873.0               20.95         NaN
1     NaN         NaN     NaN                 NaN         NaN

In [506]:
# check df

print(repo25_b.head())
print(repo25_b.columns)
print(repo25_b.info())

   Guests  Unnamed: 1   Total  Turnover per guest  Unnamed: 4
0     NaN         NaN  8873.0               20.95         NaN
1     NaN         NaN     NaN                 NaN         NaN
Index(['Guests', 'Unnamed: 1', 'Total', 'Turnover per guest', 'Unnamed: 4'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Guests              0 non-null      float64
 1   Unnamed: 1          0 non-null      float64
 2   Total               1 non-null      float64
 3   Turnover per guest  1 non-null      float64
 4   Unnamed: 4          0 non-null      float64
dtypes: float64(5)
memory usage: 212.0 bytes
None

In [507]:
# drop columns with only NaN

repo25_b = repo25_b.drop(columns=['Unnamed: 1', 'Unnamed: 4'])
repo25_b

   Guests   Total  Turnover per guest
0     NaN  8873.0               20.95
1     NaN     NaN                 NaN

In [508]:
# fix column names

repo25_b.columns = ['Item', 'Guest: Total', 'Guest: Turnover per guest']
repo25_b

   Item  Guest: Total  Guest: Turnover per guest
0   NaN        8873.0                      20.95
1   NaN           NaN                        NaN

In [509]:
# drop rows with all NaN

repo25_b = repo25_b.dropna(how='all')
repo25_b

   Item  Guest: Total  Guest: Turnover per guest
0   NaN        8873.0                      20.95

In [510]:
# NaN value in 'Item' fixed to 'Guests'

repo25_b.loc[0, 'Item'] = 'Guests'
repo25_b

/var/folders/yr/gmmc3xcx5xg406qfnj2bnx340000gn/T/ipykernel_97283/1721302732.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Guests' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  repo25_b.loc[0, 'Item'] = 'Guests'

     Item  Guest: Total  Guest: Turnover per guest
0  Guests        8873.0                      20.95

In [511]:
# add 'Year' column

repo25_b['Year'] = '2025'
repo25_b

/var/folders/yr/gmmc3xcx5xg406qfnj2bnx340000gn/T/ipykernel_97283/865932720.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  repo25_b['Year'] = '2025'

     Item  Guest: Total  Guest: Turnover per guest  Year
0  Guests        8873.0                      20.95  2025

In [512]:
# export cleanead df to csv

repo25_b.to_csv('./data_files/repo25_b.csv', index=False)

# Report 2025: c

In [513]:
# df main categories, categories, products

repo25_c = pd.read_csv('./data_files/report-year-2025-112439.csv', sep=';', skiprows=137, nrows=172)
repo25_c

,Main Categories,total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,in-house,Unnamed: 7,Unnamed: 8,take-away,Unnamed: 10
0,Food,NaN,16458.0,"163064,01","75,98 %",NaN,13857,"137911,03",NaN,2601,"25152,98"
1,Beverages,NaN,9221.0,"44966,53","20,95 %",NaN,8783,"42989,68",NaN,438,"1976,85"
2,Other,NaN,826.0,"6588,40","3,07 %",NaN,479,"3237,10",NaN,347,"3351,30"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Categories,total,NaN,NaN,NaN,NaN,in-house,NaN,NaN,take-away,NaN
...,...,...,...,...,...,...,...,...,...,...,...
167,Sparkling Water,0,443.0,"0,00","0,00 %",NaN,430,"0,00",NaN,13,"0,00"
168,Extra Eggs_,0,31.0,"0,00","0,00 %",NaN,31,"0,00",NaN,0,"0,00"
169,2G,0,140.0,"0,00","0,00 %",NaN,140,"0,00",NaN,0,"0,00"
170,A.I.R.,0,68.0,"0,00","0,00 %",NaN,67,"0,00",NaN,1,"0,00"
171,Misc Extras for Drinks,0,1.0,"0,00","0,00 %",NaN,1,"0,00",NaN,0,"0,00"

In [514]:
# check df

print(repo25_c.head())
print(repo25_c.columns)
print(repo25_c.info())

  Main Categories  total  Unnamed: 2 Unnamed: 3 Unnamed: 4  Unnamed: 5  \
0            Food    NaN     16458.0  163064,01    75,98 %         NaN
1       Beverages    NaN      9221.0   44966,53    20,95 %         NaN
2           Other    NaN       826.0    6588,40     3,07 %         NaN
3             NaN    NaN         NaN        NaN        NaN         NaN
4      Categories  total         NaN        NaN        NaN         NaN

   in-house Unnamed: 7  Unnamed: 8  take-away Unnamed: 10
0     13857  137911,03         NaN       2601    25152,98
1      8783   42989,68         NaN        438     1976,85
2       479    3237,10         NaN        347     3351,30
3       NaN        NaN         NaN        NaN         NaN
4  in-house        NaN         NaN  take-away         NaN
Index(['Main Categories', 'total', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'in-house', 'Unnamed: 7', 'Unnamed: 8', 'take-away',
       'Unnamed: 10'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Main Categories  170 non-null    object
 1   total            149 non-null    object
 2   Unnamed: 2       168 non-null    float64
 3   Unnamed: 3       168 non-null    object
 4   Unnamed: 4       168 non-null    object
 5   Unnamed: 5       0 non-null      float64
 6   in-house         170 non-null    object
 7   Unnamed: 7       168 non-null    object
 8   Unnamed: 8       0 non-null      float64
 9   take-away        170 non-null    object
 10  Unnamed: 10      168 non-null    object
dtypes: float64(3), object(8)
memory usage: 14.9+ KB
None

In [515]:
# drop coluumns with only NaN

repo25_c = repo25_c.drop(columns=['total', 'Unnamed: 5', 'Unnamed: 8'])
repo25_c

,Main Categories,Unnamed: 2,Unnamed: 3,Unnamed: 4,in-house,Unnamed: 7,take-away,Unnamed: 10
0,Food,16458.0,"163064,01","75,98 %",13857,"137911,03",2601,"25152,98"
1,Beverages,9221.0,"44966,53","20,95 %",8783,"42989,68",438,"1976,85"
2,Other,826.0,"6588,40","3,07 %",479,"3237,10",347,"3351,30"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Categories,NaN,NaN,NaN,in-house,NaN,take-away,NaN
...,...,...,...,...,...,...,...,...
167,Sparkling Water,443.0,"0,00","0,00 %",430,"0,00",13,"0,00"
168,Extra Eggs_,31.0,"0,00","0,00 %",31,"0,00",0,"0,00"
169,2G,140.0,"0,00","0,00 %",140,"0,00",0,"0,00"
170,A.I.R.,68.0,"0,00","0,00 %",67,"0,00",1,"0,00"
171,Misc Extras for Drinks,1.0,"0,00","0,00 %",1,"0,00",0,"0,00"

In [516]:
# fix column names

repo25_c.columns = ['Item', 'General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']
repo25_c

,Item,General: Count,General: Total,General: %,In-house: Count,In-house: Total,Take-away: Count,Take-away: Total
0,Food,16458.0,"163064,01","75,98 %",13857,"137911,03",2601,"25152,98"
1,Beverages,9221.0,"44966,53","20,95 %",8783,"42989,68",438,"1976,85"
2,Other,826.0,"6588,40","3,07 %",479,"3237,10",347,"3351,30"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Categories,NaN,NaN,NaN,in-house,NaN,take-away,NaN
...,...,...,...,...,...,...,...,...
167,Sparkling Water,443.0,"0,00","0,00 %",430,"0,00",13,"0,00"
168,Extra Eggs_,31.0,"0,00","0,00 %",31,"0,00",0,"0,00"
169,2G,140.0,"0,00","0,00 %",140,"0,00",0,"0,00"
170,A.I.R.,68.0,"0,00","0,00 %",67,"0,00",1,"0,00"
171,Misc Extras for Drinks,1.0,"0,00","0,00 %",1,"0,00",0,"0,00"

In [517]:
# drop rows where all values are NaN

repo25_c = repo25_c.dropna(how='all')
repo25_c

,Item,General: Count,General: Total,General: %,In-house: Count,In-house: Total,Take-away: Count,Take-away: Total
0,Food,16458.0,"163064,01","75,98 %",13857,"137911,03",2601,"25152,98"
1,Beverages,9221.0,"44966,53","20,95 %",8783,"42989,68",438,"1976,85"
2,Other,826.0,"6588,40","3,07 %",479,"3237,10",347,"3351,30"
4,Categories,NaN,NaN,NaN,in-house,NaN,take-away,NaN
5,Mains,7691.0,"115836,07","53,97 %",6606,"98919,10",1085,"16916,97"
...,...,...,...,...,...,...,...,...
167,Sparkling Water,443.0,"0,00","0,00 %",430,"0,00",13,"0,00"
168,Extra Eggs_,31.0,"0,00","0,00 %",31,"0,00",0,"0,00"
169,2G,140.0,"0,00","0,00 %",140,"0,00",0,"0,00"
170,A.I.R.,68.0,"0,00","0,00 %",67,"0,00",1,"0,00"
171,Misc Extras for Drinks,1.0,"0,00","0,00 %",1,"0,00",0,"0,00"

In [518]:
# check values on 'Item' column

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Beverages'),
 (2, 'Other'),
 (4, 'Categories'),
 (5, 'Mains'),
 (6, 'Starters'),
 (7, 'Alcoholic'),
 (8, 'Getränke'),
 (9, 'Tea'),
 (10, 'Extras'),
 (11, 'Coffee'),
 (12, 'Dessert'),
 (13, 'Oaf Add On Mains'),
 (14, '1. Mai'),
 (15, 'Merch'),
 (16, 'Af Sparkling Water_'),
 (17, 'LUNAR NEW YEAR A LA CARTE'),
 (18, 'Oaf Add On Starters'),
 (19, 'Extras for Drinks'),
 (20, 'Af Kombucha_'),
 (21, 'YEO’s Lunch PROMO'),
 (22, 'Order of Service'),
 (24, 'Products'),
 (25, 'Nasi Lemak'),
 (26, 'Hainanese Chicken Rice'),
 (27, 'Hainanese Chicken Rice DINNER'),
 (28, 'Prawn Laksa #1'),
 (29, 'Mushroom Congee'),
 (30, 'Ayam Goreng'),
 (31, 'Tauhu Goreng'),
 (32, 'Curry Of The Week'),
 (33, 'MEE Goreng Mamak'),
 (34, 'Aubergine Laksa #1'),
 (35, 'Tiger Beer'),
 (36, 'Lychee Lime Fizz'),
 (37, 'RENDANG DINNER no rice'),
 (38, 'Kaya Butter Toast'),
 (39, 'Teh Tarik'),
 (40, 'Rendang LUNCH'),
 (41, 'Sago Pudding'),
 (42, 'Teh Ais'),
 (43, 'AYAM GORENG 2pcs'),
 (44, 'Gurke Pineapple Salad'),
 (45, 'Kopi'),
 (46, 'Pandan Pinita Colada'),
 (47, 'GLASS Orange Wine'),
 (48, 'Kombucha'),
 (49, 'Coconut Water'),
 (50, 'Kopi Peng'),
 (51, 'Lychee Gin Spritz'),
 (52, 'Teh O Ais Limau #1'),
 (53, 'Bowl Of Coconut Rice'),
 (54, 'Corn Pakora'),
 (55, 'Pandan Pina Colada'),
 (56, 'Tamarind Sour'),
 (57, 'Kohlrabi Kerabu'),
 (58, 'Ayam Goreng Burger'),
 (59, 'Ayam Goreng Rice Bowl'),
 (60, 'French Toast'),
 (61, 'Roti Jala'),
 (62, 'RENDANG DINNER no rice *'),
 (63, 'Regular Kaya Jar'),
 (64, '700ml'),
 (65, 'Pandan Pavlova'),
 (66, 'Soursop Soda'),
 (67, 'Corn Pakoras with poached eggs WEEKENDS'),
 (68, 'SET! Kaya EGGS'),
 (69, 'Side Portion Curry'),
 (70, 'Unpaid Banquet'),
 (71, 'Side Curry'),
 (72, 'Pineapple Aperol Spritz'),
 (73, 'T-shirt'),
 (74, 'Spicy Ginger Beer'),
 (75, 'GLASS White Wine *'),
 (76, 'Keychain'),
 (77, 'Bowl Of Chicken Rice'),
 (78, 'BOTTLE Orange Wine'),
 (79, 'Chrysanthemum Tea'),
 (80, 'Osmanthus Herbal Infusion'),
 (81, '330ml'),
 (82, 'Sambal Shrimp'),
 (83, 'Curry puffs'),
 (84, 'GLASS Red Wine'),
 (85, 'Lammsbräu Alkoholfrei'),
 (86, 'Fried egg MEE GORENG'),
 (87, 'Small Kaya Jar'),
 (88, 'SET! Kaya'),
 (89, 'Shopping bag'),
 (90, 'Watermelon Rum'),
 (91, 'Still Water 330ml'),
 (92, 'SET! Kopi'),
 (93, 'Krupuk Udang'),
 (94, 'Chix Rendang'),
 (95, 'Youtiao'),
 (96, 'Achar Awak'),
 (97, 'Kopi Gu Yu'),
 (98, 'Cendol'),
 (99, 'Guava Spritz'),
 (100, 'Fermented tofu'),
 (101, 'French Toast *'),
 (102, 'Mushroom Goreng Burger *'),
 (103, 'Eggs'),
 (104, 'Kopi O -Kosong'),
 (105, '2pcs Ayam'),
 (106, 'BOTTLE RED Wine'),
 (107, 'Tamarind Prawns #1'),
 (108, 'Poster'),
 (109, 'Kopi C'),
 (110, 'Red Braised CHIX'),
 (111, 'Stir Fried Beans'),
 (112, 'Watermelon Fizz'),
 (113, 'YEOs Chrysanthemum*'),
 (114, 'Kohlrabi Salad *'),
 (115, 'Divers Mains'),
 (116, 'Extra AUBERGINE'),
 (117, 'Asam Pedas🐟'),
 (118, 'Chix Rendang DINNER'),
 (119, 'Divers Extras'),
 (120, 'BOTTLE White Wine'),
 (121, 'Ginger'),
 (122, 'Sambal Vegan'),
 (123, 'XL Money Bag💰'),
 (124, 'Prawn Toast'),
 (125, 'Pina Colada*'),
 (126, 'Extra PRAWNS'),
 (127, 'YEOs Lychee*'),
 (128, 'Cendawan Goreng'),
 (129, 'Kerabu Pineapple Gurke Salad🍍'),
 (130, 'YEOs Soy Milk*'),
 (131, 'Guava Fizz *'),
 (132, 'Divers Alcoholic'),
 (133, 'Red braised Tofu'),
 (134, 'Divers Getränke'),
 (135, 'Minze Tee'),
 (136, 'RICE🍚'),
 (137, 'Tempeh + anchovies'),
 (138, 'Red TOFU'),
 (139, 'Divers Tea'),
 (140, 'Soft-boiled eggs'),
 (141, 'Divers Starters'),
 (142, 'Lychee'),
 (143, 'Extra Ginger sauce'),
 (144, 'Extra Chilli sauce'),
 (145, 'Piñata Colada *'),
 (146, 'Divers Coffee'),
 (147, 'Kopi Peng *'),
 (148, 'Bier Bier'),
 (149, '1 x Egg (any style)'),
 (150, 'Chrysanthemum'),
 (151, 'Raspberry'),
 (152, 'Kohlrabi SIDE'),
 (153, 'Sambal Fried Okra'),
 (154, 'Soy'),
 (155, 'Divers Dessert'),
 (156, 'Canetta Rose'),
 (157, 'Gluten Free'),
 (158, 'Youtiao mit Kondensmilch *'),
 (159, 'Green Beans'),
 (160, 'VEGAN AYAM GORENG 2pcs'),
 (161, 'Fried egg'),
 (162, 'Toast'),
 (163, 'Kaya Jar_'),
 (164, 'Vegetarisch'),
 (165, 'Vegan_'),
 (166, 'Youtiao ohne Kondensmilch'),
 (167, 'Sparkling Water'),
 (168, 'Extra Eggs_'),
 (169, '2G'),
 (170, 'A.I.R.'),
 (171, 'Misc Extras for Drinks')]

In [519]:
# drop values in 'Item' column that are non-essential

repo25_c = repo25_c.drop([4, 24])
repo25_c.reset_index(drop=True, inplace=True)
list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Beverages'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Getränke'),
 (7, 'Tea'),
 (8, 'Extras'),
 (9, 'Coffee'),
 (10, 'Dessert'),
 (11, 'Oaf Add On Mains'),
 (12, '1. Mai'),
 (13, 'Merch'),
 (14, 'Af Sparkling Water_'),
 (15, 'LUNAR NEW YEAR A LA CARTE'),
 (16, 'Oaf Add On Starters'),
 (17, 'Extras for Drinks'),
 (18, 'Af Kombucha_'),
 (19, 'YEO’s Lunch PROMO'),
 (20, 'Order of Service'),
 (21, 'Nasi Lemak'),
 (22, 'Hainanese Chicken Rice'),
 (23, 'Hainanese Chicken Rice DINNER'),
 (24, 'Prawn Laksa #1'),
 (25, 'Mushroom Congee'),
 (26, 'Ayam Goreng'),
 (27, 'Tauhu Goreng'),
 (28, 'Curry Of The Week'),
 (29, 'MEE Goreng Mamak'),
 (30, 'Aubergine Laksa #1'),
 (31, 'Tiger Beer'),
 (32, 'Lychee Lime Fizz'),
 (33, 'RENDANG DINNER no rice'),
 (34, 'Kaya Butter Toast'),
 (35, 'Teh Tarik'),
 (36, 'Rendang LUNCH'),
 (37, 'Sago Pudding'),
 (38, 'Teh Ais'),
 (39, 'AYAM GORENG 2pcs'),
 (40, 'Gurke Pineapple Salad'),
 (41, 'Kopi'),
 (42, 'Pandan Pinita Colada'),
 (43, 'GLASS Orange Wine'),
 (44, 'Kombucha'),
 (45, 'Coconut Water'),
 (46, 'Kopi Peng'),
 (47, 'Lychee Gin Spritz'),
 (48, 'Teh O Ais Limau #1'),
 (49, 'Bowl Of Coconut Rice'),
 (50, 'Corn Pakora'),
 (51, 'Pandan Pina Colada'),
 (52, 'Tamarind Sour'),
 (53, 'Kohlrabi Kerabu'),
 (54, 'Ayam Goreng Burger'),
 (55, 'Ayam Goreng Rice Bowl'),
 (56, 'French Toast'),
 (57, 'Roti Jala'),
 (58, 'RENDANG DINNER no rice *'),
 (59, 'Regular Kaya Jar'),
 (60, '700ml'),
 (61, 'Pandan Pavlova'),
 (62, 'Soursop Soda'),
 (63, 'Corn Pakoras with poached eggs WEEKENDS'),
 (64, 'SET! Kaya EGGS'),
 (65, 'Side Portion Curry'),
 (66, 'Unpaid Banquet'),
 (67, 'Side Curry'),
 (68, 'Pineapple Aperol Spritz'),
 (69, 'T-shirt'),
 (70, 'Spicy Ginger Beer'),
 (71, 'GLASS White Wine *'),
 (72, 'Keychain'),
 (73, 'Bowl Of Chicken Rice'),
 (74, 'BOTTLE Orange Wine'),
 (75, 'Chrysanthemum Tea'),
 (76, 'Osmanthus Herbal Infusion'),
 (77, '330ml'),
 (78, 'Sambal Shrimp'),
 (79, 'Curry puffs'),
 (80, 'GLASS Red Wine'),
 (81, 'Lammsbräu Alkoholfrei'),
 (82, 'Fried egg MEE GORENG'),
 (83, 'Small Kaya Jar'),
 (84, 'SET! Kaya'),
 (85, 'Shopping bag'),
 (86, 'Watermelon Rum'),
 (87, 'Still Water 330ml'),
 (88, 'SET! Kopi'),
 (89, 'Krupuk Udang'),
 (90, 'Chix Rendang'),
 (91, 'Youtiao'),
 (92, 'Achar Awak'),
 (93, 'Kopi Gu Yu'),
 (94, 'Cendol'),
 (95, 'Guava Spritz'),
 (96, 'Fermented tofu'),
 (97, 'French Toast *'),
 (98, 'Mushroom Goreng Burger *'),
 (99, 'Eggs'),
 (100, 'Kopi O -Kosong'),
 (101, '2pcs Ayam'),
 (102, 'BOTTLE RED Wine'),
 (103, 'Tamarind Prawns #1'),
 (104, 'Poster'),
 (105, 'Kopi C'),
 (106, 'Red Braised CHIX'),
 (107, 'Stir Fried Beans'),
 (108, 'Watermelon Fizz'),
 (109, 'YEOs Chrysanthemum*'),
 (110, 'Kohlrabi Salad *'),
 (111, 'Divers Mains'),
 (112, 'Extra AUBERGINE'),
 (113, 'Asam Pedas🐟'),
 (114, 'Chix Rendang DINNER'),
 (115, 'Divers Extras'),
 (116, 'BOTTLE White Wine'),
 (117, 'Ginger'),
 (118, 'Sambal Vegan'),
 (119, 'XL Money Bag💰'),
 (120, 'Prawn Toast'),
 (121, 'Pina Colada*'),
 (122, 'Extra PRAWNS'),
 (123, 'YEOs Lychee*'),
 (124, 'Cendawan Goreng'),
 (125, 'Kerabu Pineapple Gurke Salad🍍'),
 (126, 'YEOs Soy Milk*'),
 (127, 'Guava Fizz *'),
 (128, 'Divers Alcoholic'),
 (129, 'Red braised Tofu'),
 (130, 'Divers Getränke'),
 (131, 'Minze Tee'),
 (132, 'RICE🍚'),
 (133, 'Tempeh + anchovies'),
 (134, 'Red TOFU'),
 (135, 'Divers Tea'),
 (136, 'Soft-boiled eggs'),
 (137, 'Divers Starters'),
 (138, 'Lychee'),
 (139, 'Extra Ginger sauce'),
 (140, 'Extra Chilli sauce'),
 (141, 'Piñata Colada *'),
 (142, 'Divers Coffee'),
 (143, 'Kopi Peng *'),
 (144, 'Bier Bier'),
 (145, '1 x Egg (any style)'),
 (146, 'Chrysanthemum'),
 (147, 'Raspberry'),
 (148, 'Kohlrabi SIDE'),
 (149, 'Sambal Fried Okra'),
 (150, 'Soy'),
 (151, 'Divers Dessert'),
 (152, 'Canetta Rose'),
 (153, 'Gluten Free'),
 (154, 'Youtiao mit Kondensmilch *'),
 (155, 'Green Beans'),
 (156, 'VEGAN AYAM GORENG 2pcs'),
 (157, 'Fried egg'),
 (158, 'Toast'),
 (159, 'Kaya Jar_'),
 (160, 'Vegetarisch'),
 (161, 'Vegan_'),
 (162, 'Youtiao ohne Kondensmilch'),
 (163, 'Sparkling Water'),
 (164, 'Extra Eggs_'),
 (165, '2G'),
 (166, 'A.I.R.'),
 (167, 'Misc Extras for Drinks')]

In [520]:
# transform 'Total' and 'Tip' columns into numeric Euro values

euro_c = ['General: Total', 'In-house: Total', 'Take-away: Total']

for col in euro_c:
    repo25_c[col] = pd.to_numeric(repo25_c[col], errors='coerce')
    repo25_c[col] = repo25_c[col].apply(lambda x: f"€{x:,.2f}" if pd.notnull(x) else '')

repo25_c

,Item,General: Count,General: Total,General: %,In-house: Count,In-house: Total,Take-away: Count,Take-away: Total
0,Food,16458.0,,"75,98 %",13857,,2601,
1,Beverages,9221.0,,"20,95 %",8783,,438,
2,Other,826.0,,"3,07 %",479,,347,
3,Mains,7691.0,,"53,97 %",6606,,1085,
4,Starters,3859.0,,"14,33 %",3254,,605,
...,...,...,...,...,...,...,...,...
163,Sparkling Water,443.0,,"0,00 %",430,,13,
164,Extra Eggs_,31.0,,"0,00 %",31,,0,
165,2G,140.0,,"0,00 %",140,,0,
166,A.I.R.,68.0,,"0,00 %",67,,1,
167,Misc Extras for Drinks,1.0,,"0,00 %",1,,0,

In [521]:
# Define mask for both rows to combine
cm_bev = repo25_c['Item'].isin(['Beverages', 'Getränke'])

# Find the index of the first 'amber' to insert the combined row
fi_bev = repo25_c[repo25_c['Item'] == 'Beverages'].index[0]

# Sum the numeric columns
sum_bev = repo25_c.loc[cm_bev, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
bev = pd.DataFrame([{
    'Item': 'Category: Drink',
    'General: Count': sum_bev['General: Count'],
    'General: Total': sum_bev['General: Total'],
    'General: %': sum_bev['General: %'],
    'In-house: Count': sum_bev['In-house: Count'],
    'In-house: Total': sum_bev['In-house: Total'],
    'Take-away: Count': sum_bev['Take-away: Count'],
    'Take-away: Total': sum_bev['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_bev].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_bev]
bottom = repo25_c.iloc[fi_bev:]
repo25_c = pd.concat([top, bev, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Af Sparkling Water_'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Af Kombucha_'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'RENDANG DINNER no rice'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Pandan Pinita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Kombucha'),
 (44, 'Coconut Water'),
 (45, 'Kopi Peng'),
 (46, 'Lychee Gin Spritz'),
 (47, 'Teh O Ais Limau #1'),
 (48, 'Bowl Of Coconut Rice'),
 (49, 'Corn Pakora'),
 (50, 'Pandan Pina Colada'),
 (51, 'Tamarind Sour'),
 (52, 'Kohlrabi Kerabu'),
 (53, 'Ayam Goreng Burger'),
 (54, 'Ayam Goreng Rice Bowl'),
 (55, 'French Toast'),
 (56, 'Roti Jala'),
 (57, 'RENDANG DINNER no rice *'),
 (58, 'Regular Kaya Jar'),
 (59, '700ml'),
 (60, 'Pandan Pavlova'),
 (61, 'Soursop Soda'),
 (62, 'Corn Pakoras with poached eggs WEEKENDS'),
 (63, 'SET! Kaya EGGS'),
 (64, 'Side Portion Curry'),
 (65, 'Unpaid Banquet'),
 (66, 'Side Curry'),
 (67, 'Pineapple Aperol Spritz'),
 (68, 'T-shirt'),
 (69, 'Spicy Ginger Beer'),
 (70, 'GLASS White Wine *'),
 (71, 'Keychain'),
 (72, 'Bowl Of Chicken Rice'),
 (73, 'BOTTLE Orange Wine'),
 (74, 'Chrysanthemum Tea'),
 (75, 'Osmanthus Herbal Infusion'),
 (76, '330ml'),
 (77, 'Sambal Shrimp'),
 (78, 'Curry puffs'),
 (79, 'GLASS Red Wine'),
 (80, 'Lammsbräu Alkoholfrei'),
 (81, 'Fried egg MEE GORENG'),
 (82, 'Small Kaya Jar'),
 (83, 'SET! Kaya'),
 (84, 'Shopping bag'),
 (85, 'Watermelon Rum'),
 (86, 'Still Water 330ml'),
 (87, 'SET! Kopi'),
 (88, 'Krupuk Udang'),
 (89, 'Chix Rendang'),
 (90, 'Youtiao'),
 (91, 'Achar Awak'),
 (92, 'Kopi Gu Yu'),
 (93, 'Cendol'),
 (94, 'Guava Spritz'),
 (95, 'Fermented tofu'),
 (96, 'French Toast *'),
 (97, 'Mushroom Goreng Burger *'),
 (98, 'Eggs'),
 (99, 'Kopi O -Kosong'),
 (100, '2pcs Ayam'),
 (101, 'BOTTLE RED Wine'),
 (102, 'Tamarind Prawns #1'),
 (103, 'Poster'),
 (104, 'Kopi C'),
 (105, 'Red Braised CHIX'),
 (106, 'Stir Fried Beans'),
 (107, 'Watermelon Fizz'),
 (108, 'YEOs Chrysanthemum*'),
 (109, 'Kohlrabi Salad *'),
 (110, 'Divers Mains'),
 (111, 'Extra AUBERGINE'),
 (112, 'Asam Pedas🐟'),
 (113, 'Chix Rendang DINNER'),
 (114, 'Divers Extras'),
 (115, 'BOTTLE White Wine'),
 (116, 'Ginger'),
 (117, 'Sambal Vegan'),
 (118, 'XL Money Bag💰'),
 (119, 'Prawn Toast'),
 (120, 'Pina Colada*'),
 (121, 'Extra PRAWNS'),
 (122, 'YEOs Lychee*'),
 (123, 'Cendawan Goreng'),
 (124, 'Kerabu Pineapple Gurke Salad🍍'),
 (125, 'YEOs Soy Milk*'),
 (126, 'Guava Fizz *'),
 (127, 'Divers Alcoholic'),
 (128, 'Red braised Tofu'),
 (129, 'Divers Getränke'),
 (130, 'Minze Tee'),
 (131, 'RICE🍚'),
 (132, 'Tempeh + anchovies'),
 (133, 'Red TOFU'),
 (134, 'Divers Tea'),
 (135, 'Soft-boiled eggs'),
 (136, 'Divers Starters'),
 (137, 'Lychee'),
 (138, 'Extra Ginger sauce'),
 (139, 'Extra Chilli sauce'),
 (140, 'Piñata Colada *'),
 (141, 'Divers Coffee'),
 (142, 'Kopi Peng *'),
 (143, 'Bier Bier'),
 (144, '1 x Egg (any style)'),
 (145, 'Chrysanthemum'),
 (146, 'Raspberry'),
 (147, 'Kohlrabi SIDE'),
 (148, 'Sambal Fried Okra'),
 (149, 'Soy'),
 (150, 'Divers Dessert'),
 (151, 'Canetta Rose'),
 (152, 'Gluten Free'),
 (153, 'Youtiao mit Kondensmilch *'),
 (154, 'Green Beans'),
 (155, 'VEGAN AYAM GORENG 2pcs'),
 (156, 'Fried egg'),
 (157, 'Toast'),
 (158, 'Kaya Jar_'),
 (159, 'Vegetarisch'),
 (160, 'Vegan_'),
 (161, 'Youtiao ohne Kondensmilch'),
 (162, 'Sparkling Water'),
 (163, 'Extra Eggs_'),
 (164, '2G'),
 (165, 'A.I.R.'),
 (166, 'Misc Extras for Drinks')]

In [522]:
# Define mask for both rows to combine
cm_sw = repo25_c['Item'].isin(['Af Sparkling Water_', 'Sparkling Water'])

# Find the index of the first 'amber' to insert the combined row
fi_sw = repo25_c[repo25_c['Item'] == 'Af Sparkling Water_'].index[0]

# Sum the numeric columns
sum_sw = repo25_c.loc[cm_sw, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
sw = pd.DataFrame([{
    'Item': 'Drink: Sparkling Water',
    'General: Count': sum_sw['General: Count'],
    'General: Total': sum_sw['General: Total'],
    'General: %': sum_sw['General: %'],
    'In-house: Count': sum_sw['In-house: Count'],
    'In-house: Total': sum_sw['In-house: Total'],
    'Take-away: Count': sum_sw['Take-away: Count'],
    'Take-away: Total': sum_sw['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_sw].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_sw]
bottom = repo25_c.iloc[fi_sw:]
repo25_c = pd.concat([top, sw, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Af Kombucha_'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'RENDANG DINNER no rice'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Pandan Pinita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Kombucha'),
 (44, 'Coconut Water'),
 (45, 'Kopi Peng'),
 (46, 'Lychee Gin Spritz'),
 (47, 'Teh O Ais Limau #1'),
 (48, 'Bowl Of Coconut Rice'),
 (49, 'Corn Pakora'),
 (50, 'Pandan Pina Colada'),
 (51, 'Tamarind Sour'),
 (52, 'Kohlrabi Kerabu'),
 (53, 'Ayam Goreng Burger'),
 (54, 'Ayam Goreng Rice Bowl'),
 (55, 'French Toast'),
 (56, 'Roti Jala'),
 (57, 'RENDANG DINNER no rice *'),
 (58, 'Regular Kaya Jar'),
 (59, '700ml'),
 (60, 'Pandan Pavlova'),
 (61, 'Soursop Soda'),
 (62, 'Corn Pakoras with poached eggs WEEKENDS'),
 (63, 'SET! Kaya EGGS'),
 (64, 'Side Portion Curry'),
 (65, 'Unpaid Banquet'),
 (66, 'Side Curry'),
 (67, 'Pineapple Aperol Spritz'),
 (68, 'T-shirt'),
 (69, 'Spicy Ginger Beer'),
 (70, 'GLASS White Wine *'),
 (71, 'Keychain'),
 (72, 'Bowl Of Chicken Rice'),
 (73, 'BOTTLE Orange Wine'),
 (74, 'Chrysanthemum Tea'),
 (75, 'Osmanthus Herbal Infusion'),
 (76, '330ml'),
 (77, 'Sambal Shrimp'),
 (78, 'Curry puffs'),
 (79, 'GLASS Red Wine'),
 (80, 'Lammsbräu Alkoholfrei'),
 (81, 'Fried egg MEE GORENG'),
 (82, 'Small Kaya Jar'),
 (83, 'SET! Kaya'),
 (84, 'Shopping bag'),
 (85, 'Watermelon Rum'),
 (86, 'Still Water 330ml'),
 (87, 'SET! Kopi'),
 (88, 'Krupuk Udang'),
 (89, 'Chix Rendang'),
 (90, 'Youtiao'),
 (91, 'Achar Awak'),
 (92, 'Kopi Gu Yu'),
 (93, 'Cendol'),
 (94, 'Guava Spritz'),
 (95, 'Fermented tofu'),
 (96, 'French Toast *'),
 (97, 'Mushroom Goreng Burger *'),
 (98, 'Eggs'),
 (99, 'Kopi O -Kosong'),
 (100, '2pcs Ayam'),
 (101, 'BOTTLE RED Wine'),
 (102, 'Tamarind Prawns #1'),
 (103, 'Poster'),
 (104, 'Kopi C'),
 (105, 'Red Braised CHIX'),
 (106, 'Stir Fried Beans'),
 (107, 'Watermelon Fizz'),
 (108, 'YEOs Chrysanthemum*'),
 (109, 'Kohlrabi Salad *'),
 (110, 'Divers Mains'),
 (111, 'Extra AUBERGINE'),
 (112, 'Asam Pedas🐟'),
 (113, 'Chix Rendang DINNER'),
 (114, 'Divers Extras'),
 (115, 'BOTTLE White Wine'),
 (116, 'Ginger'),
 (117, 'Sambal Vegan'),
 (118, 'XL Money Bag💰'),
 (119, 'Prawn Toast'),
 (120, 'Pina Colada*'),
 (121, 'Extra PRAWNS'),
 (122, 'YEOs Lychee*'),
 (123, 'Cendawan Goreng'),
 (124, 'Kerabu Pineapple Gurke Salad🍍'),
 (125, 'YEOs Soy Milk*'),
 (126, 'Guava Fizz *'),
 (127, 'Divers Alcoholic'),
 (128, 'Red braised Tofu'),
 (129, 'Divers Getränke'),
 (130, 'Minze Tee'),
 (131, 'RICE🍚'),
 (132, 'Tempeh + anchovies'),
 (133, 'Red TOFU'),
 (134, 'Divers Tea'),
 (135, 'Soft-boiled eggs'),
 (136, 'Divers Starters'),
 (137, 'Lychee'),
 (138, 'Extra Ginger sauce'),
 (139, 'Extra Chilli sauce'),
 (140, 'Piñata Colada *'),
 (141, 'Divers Coffee'),
 (142, 'Kopi Peng *'),
 (143, 'Bier Bier'),
 (144, '1 x Egg (any style)'),
 (145, 'Chrysanthemum'),
 (146, 'Raspberry'),
 (147, 'Kohlrabi SIDE'),
 (148, 'Sambal Fried Okra'),
 (149, 'Soy'),
 (150, 'Divers Dessert'),
 (151, 'Canetta Rose'),
 (152, 'Gluten Free'),
 (153, 'Youtiao mit Kondensmilch *'),
 (154, 'Green Beans'),
 (155, 'VEGAN AYAM GORENG 2pcs'),
 (156, 'Fried egg'),
 (157, 'Toast'),
 (158, 'Kaya Jar_'),
 (159, 'Vegetarisch'),
 (160, 'Vegan_'),
 (161, 'Youtiao ohne Kondensmilch'),
 (162, 'Extra Eggs_'),
 (163, '2G'),
 (164, 'A.I.R.'),
 (165, 'Misc Extras for Drinks')]

In [523]:
# Define mask for both rows to combine
cm_coco= repo25_c['Item'].isin(['Bowl Of Coconut Rice', 'RICE🍚'])

# Find the index of the first 'amber' to insert the combined row
fi_coco = repo25_c[repo25_c['Item'] == 'Bowl Of Coconut Rice'].index[0]

# Sum the numeric columns
sum_coco = repo25_c.loc[cm_coco, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
coco = pd.DataFrame([{
    'Item': 'Add-on: Bowl of Coconut Rice ',
    'General: Count': sum_coco['General: Count'],
    'General: Total': sum_coco['General: Total'],
    'General: %': sum_coco['General: %'],
    'In-house: Count': sum_coco['In-house: Count'],
    'In-house: Total': sum_coco['In-house: Total'],
    'Take-away: Count': sum_coco['Take-away: Count'],
    'Take-away: Total': sum_coco['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_coco].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_coco]
bottom = repo25_c.iloc[fi_coco:]
repo25_c = pd.concat([top, coco, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Af Kombucha_'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'RENDANG DINNER no rice'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Pandan Pinita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Kombucha'),
 (44, 'Coconut Water'),
 (45, 'Kopi Peng'),
 (46, 'Lychee Gin Spritz'),
 (47, 'Teh O Ais Limau #1'),
 (48, 'Add-on: Bowl of Coconut Rice '),
 (49, 'Corn Pakora'),
 (50, 'Pandan Pina Colada'),
 (51, 'Tamarind Sour'),
 (52, 'Kohlrabi Kerabu'),
 (53, 'Ayam Goreng Burger'),
 (54, 'Ayam Goreng Rice Bowl'),
 (55, 'French Toast'),
 (56, 'Roti Jala'),
 (57, 'RENDANG DINNER no rice *'),
 (58, 'Regular Kaya Jar'),
 (59, '700ml'),
 (60, 'Pandan Pavlova'),
 (61, 'Soursop Soda'),
 (62, 'Corn Pakoras with poached eggs WEEKENDS'),
 (63, 'SET! Kaya EGGS'),
 (64, 'Side Portion Curry'),
 (65, 'Unpaid Banquet'),
 (66, 'Side Curry'),
 (67, 'Pineapple Aperol Spritz'),
 (68, 'T-shirt'),
 (69, 'Spicy Ginger Beer'),
 (70, 'GLASS White Wine *'),
 (71, 'Keychain'),
 (72, 'Bowl Of Chicken Rice'),
 (73, 'BOTTLE Orange Wine'),
 (74, 'Chrysanthemum Tea'),
 (75, 'Osmanthus Herbal Infusion'),
 (76, '330ml'),
 (77, 'Sambal Shrimp'),
 (78, 'Curry puffs'),
 (79, 'GLASS Red Wine'),
 (80, 'Lammsbräu Alkoholfrei'),
 (81, 'Fried egg MEE GORENG'),
 (82, 'Small Kaya Jar'),
 (83, 'SET! Kaya'),
 (84, 'Shopping bag'),
 (85, 'Watermelon Rum'),
 (86, 'Still Water 330ml'),
 (87, 'SET! Kopi'),
 (88, 'Krupuk Udang'),
 (89, 'Chix Rendang'),
 (90, 'Youtiao'),
 (91, 'Achar Awak'),
 (92, 'Kopi Gu Yu'),
 (93, 'Cendol'),
 (94, 'Guava Spritz'),
 (95, 'Fermented tofu'),
 (96, 'French Toast *'),
 (97, 'Mushroom Goreng Burger *'),
 (98, 'Eggs'),
 (99, 'Kopi O -Kosong'),
 (100, '2pcs Ayam'),
 (101, 'BOTTLE RED Wine'),
 (102, 'Tamarind Prawns #1'),
 (103, 'Poster'),
 (104, 'Kopi C'),
 (105, 'Red Braised CHIX'),
 (106, 'Stir Fried Beans'),
 (107, 'Watermelon Fizz'),
 (108, 'YEOs Chrysanthemum*'),
 (109, 'Kohlrabi Salad *'),
 (110, 'Divers Mains'),
 (111, 'Extra AUBERGINE'),
 (112, 'Asam Pedas🐟'),
 (113, 'Chix Rendang DINNER'),
 (114, 'Divers Extras'),
 (115, 'BOTTLE White Wine'),
 (116, 'Ginger'),
 (117, 'Sambal Vegan'),
 (118, 'XL Money Bag💰'),
 (119, 'Prawn Toast'),
 (120, 'Pina Colada*'),
 (121, 'Extra PRAWNS'),
 (122, 'YEOs Lychee*'),
 (123, 'Cendawan Goreng'),
 (124, 'Kerabu Pineapple Gurke Salad🍍'),
 (125, 'YEOs Soy Milk*'),
 (126, 'Guava Fizz *'),
 (127, 'Divers Alcoholic'),
 (128, 'Red braised Tofu'),
 (129, 'Divers Getränke'),
 (130, 'Minze Tee'),
 (131, 'Tempeh + anchovies'),
 (132, 'Red TOFU'),
 (133, 'Divers Tea'),
 (134, 'Soft-boiled eggs'),
 (135, 'Divers Starters'),
 (136, 'Lychee'),
 (137, 'Extra Ginger sauce'),
 (138, 'Extra Chilli sauce'),
 (139, 'Piñata Colada *'),
 (140, 'Divers Coffee'),
 (141, 'Kopi Peng *'),
 (142, 'Bier Bier'),
 (143, '1 x Egg (any style)'),
 (144, 'Chrysanthemum'),
 (145, 'Raspberry'),
 (146, 'Kohlrabi SIDE'),
 (147, 'Sambal Fried Okra'),
 (148, 'Soy'),
 (149, 'Divers Dessert'),
 (150, 'Canetta Rose'),
 (151, 'Gluten Free'),
 (152, 'Youtiao mit Kondensmilch *'),
 (153, 'Green Beans'),
 (154, 'VEGAN AYAM GORENG 2pcs'),
 (155, 'Fried egg'),
 (156, 'Toast'),
 (157, 'Kaya Jar_'),
 (158, 'Vegetarisch'),
 (159, 'Vegan_'),
 (160, 'Youtiao ohne Kondensmilch'),
 (161, 'Extra Eggs_'),
 (162, '2G'),
 (163, 'A.I.R.'),
 (164, 'Misc Extras for Drinks')]

In [524]:
# Define mask for both rows to combine
cm_kk = repo25_c['Item'].isin(['SET! Kaya', 'SET! Kopi'])

# Find the index of the first 'amber' to insert the combined row
fi_kk = repo25_c[repo25_c['Item'] == 'SET! Kaya'].index[0]

# Sum the numeric columns
sum_kk = repo25_c.loc[cm_kk, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
kk = pd.DataFrame([{
    'Item': 'Promo: Kopi & Kaya Toast',
    'General: Count': sum_kk['General: Count'],
    'General: Total': sum_kk['General: Total'],
    'General: %': sum_kk['General: %'],
    'In-house: Count': sum_kk['In-house: Count'],
    'In-house: Total': sum_kk['In-house: Total'],
    'Take-away: Count': sum_kk['Take-away: Count'],
    'Take-away: Total': sum_kk['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_kk].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_kk]
bottom = repo25_c.iloc[fi_kk:]
repo25_c = pd.concat([top, kk, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Af Kombucha_'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'RENDANG DINNER no rice'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Pandan Pinita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Kombucha'),
 (44, 'Coconut Water'),
 (45, 'Kopi Peng'),
 (46, 'Lychee Gin Spritz'),
 (47, 'Teh O Ais Limau #1'),
 (48, 'Add-on: Bowl of Coconut Rice '),
 (49, 'Corn Pakora'),
 (50, 'Pandan Pina Colada'),
 (51, 'Tamarind Sour'),
 (52, 'Kohlrabi Kerabu'),
 (53, 'Ayam Goreng Burger'),
 (54, 'Ayam Goreng Rice Bowl'),
 (55, 'French Toast'),
 (56, 'Roti Jala'),
 (57, 'RENDANG DINNER no rice *'),
 (58, 'Regular Kaya Jar'),
 (59, '700ml'),
 (60, 'Pandan Pavlova'),
 (61, 'Soursop Soda'),
 (62, 'Corn Pakoras with poached eggs WEEKENDS'),
 (63, 'SET! Kaya EGGS'),
 (64, 'Side Portion Curry'),
 (65, 'Unpaid Banquet'),
 (66, 'Side Curry'),
 (67, 'Pineapple Aperol Spritz'),
 (68, 'T-shirt'),
 (69, 'Spicy Ginger Beer'),
 (70, 'GLASS White Wine *'),
 (71, 'Keychain'),
 (72, 'Bowl Of Chicken Rice'),
 (73, 'BOTTLE Orange Wine'),
 (74, 'Chrysanthemum Tea'),
 (75, 'Osmanthus Herbal Infusion'),
 (76, '330ml'),
 (77, 'Sambal Shrimp'),
 (78, 'Curry puffs'),
 (79, 'GLASS Red Wine'),
 (80, 'Lammsbräu Alkoholfrei'),
 (81, 'Fried egg MEE GORENG'),
 (82, 'Small Kaya Jar'),
 (83, 'Promo: Kopi & Kaya Toast'),
 (84, 'Shopping bag'),
 (85, 'Watermelon Rum'),
 (86, 'Still Water 330ml'),
 (87, 'Krupuk Udang'),
 (88, 'Chix Rendang'),
 (89, 'Youtiao'),
 (90, 'Achar Awak'),
 (91, 'Kopi Gu Yu'),
 (92, 'Cendol'),
 (93, 'Guava Spritz'),
 (94, 'Fermented tofu'),
 (95, 'French Toast *'),
 (96, 'Mushroom Goreng Burger *'),
 (97, 'Eggs'),
 (98, 'Kopi O -Kosong'),
 (99, '2pcs Ayam'),
 (100, 'BOTTLE RED Wine'),
 (101, 'Tamarind Prawns #1'),
 (102, 'Poster'),
 (103, 'Kopi C'),
 (104, 'Red Braised CHIX'),
 (105, 'Stir Fried Beans'),
 (106, 'Watermelon Fizz'),
 (107, 'YEOs Chrysanthemum*'),
 (108, 'Kohlrabi Salad *'),
 (109, 'Divers Mains'),
 (110, 'Extra AUBERGINE'),
 (111, 'Asam Pedas🐟'),
 (112, 'Chix Rendang DINNER'),
 (113, 'Divers Extras'),
 (114, 'BOTTLE White Wine'),
 (115, 'Ginger'),
 (116, 'Sambal Vegan'),
 (117, 'XL Money Bag💰'),
 (118, 'Prawn Toast'),
 (119, 'Pina Colada*'),
 (120, 'Extra PRAWNS'),
 (121, 'YEOs Lychee*'),
 (122, 'Cendawan Goreng'),
 (123, 'Kerabu Pineapple Gurke Salad🍍'),
 (124, 'YEOs Soy Milk*'),
 (125, 'Guava Fizz *'),
 (126, 'Divers Alcoholic'),
 (127, 'Red braised Tofu'),
 (128, 'Divers Getränke'),
 (129, 'Minze Tee'),
 (130, 'Tempeh + anchovies'),
 (131, 'Red TOFU'),
 (132, 'Divers Tea'),
 (133, 'Soft-boiled eggs'),
 (134, 'Divers Starters'),
 (135, 'Lychee'),
 (136, 'Extra Ginger sauce'),
 (137, 'Extra Chilli sauce'),
 (138, 'Piñata Colada *'),
 (139, 'Divers Coffee'),
 (140, 'Kopi Peng *'),
 (141, 'Bier Bier'),
 (142, '1 x Egg (any style)'),
 (143, 'Chrysanthemum'),
 (144, 'Raspberry'),
 (145, 'Kohlrabi SIDE'),
 (146, 'Sambal Fried Okra'),
 (147, 'Soy'),
 (148, 'Divers Dessert'),
 (149, 'Canetta Rose'),
 (150, 'Gluten Free'),
 (151, 'Youtiao mit Kondensmilch *'),
 (152, 'Green Beans'),
 (153, 'VEGAN AYAM GORENG 2pcs'),
 (154, 'Fried egg'),
 (155, 'Toast'),
 (156, 'Kaya Jar_'),
 (157, 'Vegetarisch'),
 (158, 'Vegan_'),
 (159, 'Youtiao ohne Kondensmilch'),
 (160, 'Extra Eggs_'),
 (161, '2G'),
 (162, 'A.I.R.'),
 (163, 'Misc Extras for Drinks')]

In [525]:
# Define mask for both rows to combine
cm_yout = repo25_c['Item'].isin(['Youtiao', 'Youtiao ohne Kondensmilch'])

# Find the index of the first 'amber' to insert the combined row
fi_yout = repo25_c[repo25_c['Item'] == 'Youtiao'].index[0]

# Sum the numeric columns
sum_yout = repo25_c.loc[cm_yout, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
yout = pd.DataFrame([{
    'Item': 'Add-on: Youtiao',
    'General: Count': sum_yout['General: Count'],
    'General: Total': sum_yout['General: Total'],
    'General: %': sum_yout['General: %'],
    'In-house: Count': sum_yout['In-house: Count'],
    'In-house: Total': sum_yout['In-house: Total'],
    'Take-away: Count': sum_yout['Take-away: Count'],
    'Take-away: Total': sum_yout['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_yout].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_yout]
bottom = repo25_c.iloc[fi_yout:]
repo25_c = pd.concat([top, yout, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Af Kombucha_'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'RENDANG DINNER no rice'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Pandan Pinita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Kombucha'),
 (44, 'Coconut Water'),
 (45, 'Kopi Peng'),
 (46, 'Lychee Gin Spritz'),
 (47, 'Teh O Ais Limau #1'),
 (48, 'Add-on: Bowl of Coconut Rice '),
 (49, 'Corn Pakora'),
 (50, 'Pandan Pina Colada'),
 (51, 'Tamarind Sour'),
 (52, 'Kohlrabi Kerabu'),
 (53, 'Ayam Goreng Burger'),
 (54, 'Ayam Goreng Rice Bowl'),
 (55, 'French Toast'),
 (56, 'Roti Jala'),
 (57, 'RENDANG DINNER no rice *'),
 (58, 'Regular Kaya Jar'),
 (59, '700ml'),
 (60, 'Pandan Pavlova'),
 (61, 'Soursop Soda'),
 (62, 'Corn Pakoras with poached eggs WEEKENDS'),
 (63, 'SET! Kaya EGGS'),
 (64, 'Side Portion Curry'),
 (65, 'Unpaid Banquet'),
 (66, 'Side Curry'),
 (67, 'Pineapple Aperol Spritz'),
 (68, 'T-shirt'),
 (69, 'Spicy Ginger Beer'),
 (70, 'GLASS White Wine *'),
 (71, 'Keychain'),
 (72, 'Bowl Of Chicken Rice'),
 (73, 'BOTTLE Orange Wine'),
 (74, 'Chrysanthemum Tea'),
 (75, 'Osmanthus Herbal Infusion'),
 (76, '330ml'),
 (77, 'Sambal Shrimp'),
 (78, 'Curry puffs'),
 (79, 'GLASS Red Wine'),
 (80, 'Lammsbräu Alkoholfrei'),
 (81, 'Fried egg MEE GORENG'),
 (82, 'Small Kaya Jar'),
 (83, 'Promo: Kopi & Kaya Toast'),
 (84, 'Shopping bag'),
 (85, 'Watermelon Rum'),
 (86, 'Still Water 330ml'),
 (87, 'Krupuk Udang'),
 (88, 'Chix Rendang'),
 (89, 'Add-on: Youtiao'),
 (90, 'Achar Awak'),
 (91, 'Kopi Gu Yu'),
 (92, 'Cendol'),
 (93, 'Guava Spritz'),
 (94, 'Fermented tofu'),
 (95, 'French Toast *'),
 (96, 'Mushroom Goreng Burger *'),
 (97, 'Eggs'),
 (98, 'Kopi O -Kosong'),
 (99, '2pcs Ayam'),
 (100, 'BOTTLE RED Wine'),
 (101, 'Tamarind Prawns #1'),
 (102, 'Poster'),
 (103, 'Kopi C'),
 (104, 'Red Braised CHIX'),
 (105, 'Stir Fried Beans'),
 (106, 'Watermelon Fizz'),
 (107, 'YEOs Chrysanthemum*'),
 (108, 'Kohlrabi Salad *'),
 (109, 'Divers Mains'),
 (110, 'Extra AUBERGINE'),
 (111, 'Asam Pedas🐟'),
 (112, 'Chix Rendang DINNER'),
 (113, 'Divers Extras'),
 (114, 'BOTTLE White Wine'),
 (115, 'Ginger'),
 (116, 'Sambal Vegan'),
 (117, 'XL Money Bag💰'),
 (118, 'Prawn Toast'),
 (119, 'Pina Colada*'),
 (120, 'Extra PRAWNS'),
 (121, 'YEOs Lychee*'),
 (122, 'Cendawan Goreng'),
 (123, 'Kerabu Pineapple Gurke Salad🍍'),
 (124, 'YEOs Soy Milk*'),
 (125, 'Guava Fizz *'),
 (126, 'Divers Alcoholic'),
 (127, 'Red braised Tofu'),
 (128, 'Divers Getränke'),
 (129, 'Minze Tee'),
 (130, 'Tempeh + anchovies'),
 (131, 'Red TOFU'),
 (132, 'Divers Tea'),
 (133, 'Soft-boiled eggs'),
 (134, 'Divers Starters'),
 (135, 'Lychee'),
 (136, 'Extra Ginger sauce'),
 (137, 'Extra Chilli sauce'),
 (138, 'Piñata Colada *'),
 (139, 'Divers Coffee'),
 (140, 'Kopi Peng *'),
 (141, 'Bier Bier'),
 (142, '1 x Egg (any style)'),
 (143, 'Chrysanthemum'),
 (144, 'Raspberry'),
 (145, 'Kohlrabi SIDE'),
 (146, 'Sambal Fried Okra'),
 (147, 'Soy'),
 (148, 'Divers Dessert'),
 (149, 'Canetta Rose'),
 (150, 'Gluten Free'),
 (151, 'Youtiao mit Kondensmilch *'),
 (152, 'Green Beans'),
 (153, 'VEGAN AYAM GORENG 2pcs'),
 (154, 'Fried egg'),
 (155, 'Toast'),
 (156, 'Kaya Jar_'),
 (157, 'Vegetarisch'),
 (158, 'Vegan_'),
 (159, 'Extra Eggs_'),
 (160, '2G'),
 (161, 'A.I.R.'),
 (162, 'Misc Extras for Drinks')]

In [526]:
# Define mask for both rows to combine
cm_sbeggs = repo25_c['Item'].isin(['Eggs', 'Extra Eggs_', 'Soft-boiled eggs'])

# Find the index of the first 'amber' to insert the combined row
fi_sbeggs = repo25_c[repo25_c['Item'] == 'Eggs'].index[0]

# Sum the numeric columns
sum_sbeggs = repo25_c.loc[cm_sbeggs, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
sbeggs = pd.DataFrame([{
    'Item': 'Add-on: Soft-boiled eggs',
    'General: Count': sum_sbeggs['General: Count'],
    'General: Total': sum_sbeggs['General: Total'],
    'General: %': sum_sbeggs['General: %'],
    'In-house: Count': sum_sbeggs['In-house: Count'],
    'In-house: Total': sum_sbeggs['In-house: Total'],
    'Take-away: Count': sum_sbeggs['Take-away: Count'],
    'Take-away: Total': sum_sbeggs['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_sbeggs].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_sbeggs]
bottom = repo25_c.iloc[fi_sbeggs:]
repo25_c = pd.concat([top, sbeggs, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Af Kombucha_'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'RENDANG DINNER no rice'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Pandan Pinita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Kombucha'),
 (44, 'Coconut Water'),
 (45, 'Kopi Peng'),
 (46, 'Lychee Gin Spritz'),
 (47, 'Teh O Ais Limau #1'),
 (48, 'Add-on: Bowl of Coconut Rice '),
 (49, 'Corn Pakora'),
 (50, 'Pandan Pina Colada'),
 (51, 'Tamarind Sour'),
 (52, 'Kohlrabi Kerabu'),
 (53, 'Ayam Goreng Burger'),
 (54, 'Ayam Goreng Rice Bowl'),
 (55, 'French Toast'),
 (56, 'Roti Jala'),
 (57, 'RENDANG DINNER no rice *'),
 (58, 'Regular Kaya Jar'),
 (59, '700ml'),
 (60, 'Pandan Pavlova'),
 (61, 'Soursop Soda'),
 (62, 'Corn Pakoras with poached eggs WEEKENDS'),
 (63, 'SET! Kaya EGGS'),
 (64, 'Side Portion Curry'),
 (65, 'Unpaid Banquet'),
 (66, 'Side Curry'),
 (67, 'Pineapple Aperol Spritz'),
 (68, 'T-shirt'),
 (69, 'Spicy Ginger Beer'),
 (70, 'GLASS White Wine *'),
 (71, 'Keychain'),
 (72, 'Bowl Of Chicken Rice'),
 (73, 'BOTTLE Orange Wine'),
 (74, 'Chrysanthemum Tea'),
 (75, 'Osmanthus Herbal Infusion'),
 (76, '330ml'),
 (77, 'Sambal Shrimp'),
 (78, 'Curry puffs'),
 (79, 'GLASS Red Wine'),
 (80, 'Lammsbräu Alkoholfrei'),
 (81, 'Fried egg MEE GORENG'),
 (82, 'Small Kaya Jar'),
 (83, 'Promo: Kopi & Kaya Toast'),
 (84, 'Shopping bag'),
 (85, 'Watermelon Rum'),
 (86, 'Still Water 330ml'),
 (87, 'Krupuk Udang'),
 (88, 'Chix Rendang'),
 (89, 'Add-on: Youtiao'),
 (90, 'Achar Awak'),
 (91, 'Kopi Gu Yu'),
 (92, 'Cendol'),
 (93, 'Guava Spritz'),
 (94, 'Fermented tofu'),
 (95, 'French Toast *'),
 (96, 'Mushroom Goreng Burger *'),
 (97, 'Add-on: Soft-boiled eggs'),
 (98, 'Kopi O -Kosong'),
 (99, '2pcs Ayam'),
 (100, 'BOTTLE RED Wine'),
 (101, 'Tamarind Prawns #1'),
 (102, 'Poster'),
 (103, 'Kopi C'),
 (104, 'Red Braised CHIX'),
 (105, 'Stir Fried Beans'),
 (106, 'Watermelon Fizz'),
 (107, 'YEOs Chrysanthemum*'),
 (108, 'Kohlrabi Salad *'),
 (109, 'Divers Mains'),
 (110, 'Extra AUBERGINE'),
 (111, 'Asam Pedas🐟'),
 (112, 'Chix Rendang DINNER'),
 (113, 'Divers Extras'),
 (114, 'BOTTLE White Wine'),
 (115, 'Ginger'),
 (116, 'Sambal Vegan'),
 (117, 'XL Money Bag💰'),
 (118, 'Prawn Toast'),
 (119, 'Pina Colada*'),
 (120, 'Extra PRAWNS'),
 (121, 'YEOs Lychee*'),
 (122, 'Cendawan Goreng'),
 (123, 'Kerabu Pineapple Gurke Salad🍍'),
 (124, 'YEOs Soy Milk*'),
 (125, 'Guava Fizz *'),
 (126, 'Divers Alcoholic'),
 (127, 'Red braised Tofu'),
 (128, 'Divers Getränke'),
 (129, 'Minze Tee'),
 (130, 'Tempeh + anchovies'),
 (131, 'Red TOFU'),
 (132, 'Divers Tea'),
 (133, 'Divers Starters'),
 (134, 'Lychee'),
 (135, 'Extra Ginger sauce'),
 (136, 'Extra Chilli sauce'),
 (137, 'Piñata Colada *'),
 (138, 'Divers Coffee'),
 (139, 'Kopi Peng *'),
 (140, 'Bier Bier'),
 (141, '1 x Egg (any style)'),
 (142, 'Chrysanthemum'),
 (143, 'Raspberry'),
 (144, 'Kohlrabi SIDE'),
 (145, 'Sambal Fried Okra'),
 (146, 'Soy'),
 (147, 'Divers Dessert'),
 (148, 'Canetta Rose'),
 (149, 'Gluten Free'),
 (150, 'Youtiao mit Kondensmilch *'),
 (151, 'Green Beans'),
 (152, 'VEGAN AYAM GORENG 2pcs'),
 (153, 'Fried egg'),
 (154, 'Toast'),
 (155, 'Kaya Jar_'),
 (156, 'Vegetarisch'),
 (157, 'Vegan_'),
 (158, '2G'),
 (159, 'A.I.R.'),
 (160, 'Misc Extras for Drinks')]

In [527]:
# Define mask for both rows to combine
cm_yeoc= repo25_c['Item'].isin(['YEOs Chrysanthemum*', 'Chrysanthemum'])

# Find the index of the first 'amber' to insert the combined row
fi_yeoc = repo25_c[repo25_c['Item'] == 'YEOs Chrysanthemum*'].index[0]

# Sum the numeric columns
sum_yeoc = repo25_c.loc[cm_yeoc, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
yeoc = pd.DataFrame([{
    'Item': 'Drink: YEOs Chrysanthemum',
    'General: Count': sum_yeoc['General: Count'],
    'General: Total': sum_yeoc['General: Total'],
    'General: %': sum_yeoc['General: %'],
    'In-house: Count': sum_yeoc['In-house: Count'],
    'In-house: Total': sum_yeoc['In-house: Total'],
    'Take-away: Count': sum_yeoc['Take-away: Count'],
    'Take-away: Total': sum_yeoc['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_yeoc].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_yeoc]
bottom = repo25_c.iloc[fi_yeoc:]
repo25_c = pd.concat([top, yeoc, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Af Kombucha_'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'RENDANG DINNER no rice'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Pandan Pinita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Kombucha'),
 (44, 'Coconut Water'),
 (45, 'Kopi Peng'),
 (46, 'Lychee Gin Spritz'),
 (47, 'Teh O Ais Limau #1'),
 (48, 'Add-on: Bowl of Coconut Rice '),
 (49, 'Corn Pakora'),
 (50, 'Pandan Pina Colada'),
 (51, 'Tamarind Sour'),
 (52, 'Kohlrabi Kerabu'),
 (53, 'Ayam Goreng Burger'),
 (54, 'Ayam Goreng Rice Bowl'),
 (55, 'French Toast'),
 (56, 'Roti Jala'),
 (57, 'RENDANG DINNER no rice *'),
 (58, 'Regular Kaya Jar'),
 (59, '700ml'),
 (60, 'Pandan Pavlova'),
 (61, 'Soursop Soda'),
 (62, 'Corn Pakoras with poached eggs WEEKENDS'),
 (63, 'SET! Kaya EGGS'),
 (64, 'Side Portion Curry'),
 (65, 'Unpaid Banquet'),
 (66, 'Side Curry'),
 (67, 'Pineapple Aperol Spritz'),
 (68, 'T-shirt'),
 (69, 'Spicy Ginger Beer'),
 (70, 'GLASS White Wine *'),
 (71, 'Keychain'),
 (72, 'Bowl Of Chicken Rice'),
 (73, 'BOTTLE Orange Wine'),
 (74, 'Chrysanthemum Tea'),
 (75, 'Osmanthus Herbal Infusion'),
 (76, '330ml'),
 (77, 'Sambal Shrimp'),
 (78, 'Curry puffs'),
 (79, 'GLASS Red Wine'),
 (80, 'Lammsbräu Alkoholfrei'),
 (81, 'Fried egg MEE GORENG'),
 (82, 'Small Kaya Jar'),
 (83, 'Promo: Kopi & Kaya Toast'),
 (84, 'Shopping bag'),
 (85, 'Watermelon Rum'),
 (86, 'Still Water 330ml'),
 (87, 'Krupuk Udang'),
 (88, 'Chix Rendang'),
 (89, 'Add-on: Youtiao'),
 (90, 'Achar Awak'),
 (91, 'Kopi Gu Yu'),
 (92, 'Cendol'),
 (93, 'Guava Spritz'),
 (94, 'Fermented tofu'),
 (95, 'French Toast *'),
 (96, 'Mushroom Goreng Burger *'),
 (97, 'Add-on: Soft-boiled eggs'),
 (98, 'Kopi O -Kosong'),
 (99, '2pcs Ayam'),
 (100, 'BOTTLE RED Wine'),
 (101, 'Tamarind Prawns #1'),
 (102, 'Poster'),
 (103, 'Kopi C'),
 (104, 'Red Braised CHIX'),
 (105, 'Stir Fried Beans'),
 (106, 'Watermelon Fizz'),
 (107, 'Drink: YEOs Chrysanthemum'),
 (108, 'Kohlrabi Salad *'),
 (109, 'Divers Mains'),
 (110, 'Extra AUBERGINE'),
 (111, 'Asam Pedas🐟'),
 (112, 'Chix Rendang DINNER'),
 (113, 'Divers Extras'),
 (114, 'BOTTLE White Wine'),
 (115, 'Ginger'),
 (116, 'Sambal Vegan'),
 (117, 'XL Money Bag💰'),
 (118, 'Prawn Toast'),
 (119, 'Pina Colada*'),
 (120, 'Extra PRAWNS'),
 (121, 'YEOs Lychee*'),
 (122, 'Cendawan Goreng'),
 (123, 'Kerabu Pineapple Gurke Salad🍍'),
 (124, 'YEOs Soy Milk*'),
 (125, 'Guava Fizz *'),
 (126, 'Divers Alcoholic'),
 (127, 'Red braised Tofu'),
 (128, 'Divers Getränke'),
 (129, 'Minze Tee'),
 (130, 'Tempeh + anchovies'),
 (131, 'Red TOFU'),
 (132, 'Divers Tea'),
 (133, 'Divers Starters'),
 (134, 'Lychee'),
 (135, 'Extra Ginger sauce'),
 (136, 'Extra Chilli sauce'),
 (137, 'Piñata Colada *'),
 (138, 'Divers Coffee'),
 (139, 'Kopi Peng *'),
 (140, 'Bier Bier'),
 (141, '1 x Egg (any style)'),
 (142, 'Raspberry'),
 (143, 'Kohlrabi SIDE'),
 (144, 'Sambal Fried Okra'),
 (145, 'Soy'),
 (146, 'Divers Dessert'),
 (147, 'Canetta Rose'),
 (148, 'Gluten Free'),
 (149, 'Youtiao mit Kondensmilch *'),
 (150, 'Green Beans'),
 (151, 'VEGAN AYAM GORENG 2pcs'),
 (152, 'Fried egg'),
 (153, 'Toast'),
 (154, 'Kaya Jar_'),
 (155, 'Vegetarisch'),
 (156, 'Vegan_'),
 (157, '2G'),
 (158, 'A.I.R.'),
 (159, 'Misc Extras for Drinks')]

In [528]:
# Define mask for both rows to combine
cm_redt= repo25_c['Item'].isin(['Red braised Tofu', 'Red TOFU'])

# Find the index of the first 'amber' to insert the combined row
fi_redt = repo25_c[repo25_c['Item'] == 'Red braised Tofu'].index[0]

# Sum the numeric columns
sum_redt = repo25_c.loc[cm_redt, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
redt = pd.DataFrame([{
    'Item': 'Main: Red Braised Tofu',
    'General: Count': sum_redt['General: Count'],
    'General: Total': sum_redt['General: Total'],
    'General: %': sum_redt['General: %'],
    'In-house: Count': sum_redt['In-house: Count'],
    'In-house: Total': sum_redt['In-house: Total'],
    'Take-away: Count': sum_redt['Take-away: Count'],
    'Take-away: Total': sum_redt['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_redt].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_redt]
bottom = repo25_c.iloc[fi_redt:]
repo25_c = pd.concat([top, redt, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Af Kombucha_'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'RENDANG DINNER no rice'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Pandan Pinita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Kombucha'),
 (44, 'Coconut Water'),
 (45, 'Kopi Peng'),
 (46, 'Lychee Gin Spritz'),
 (47, 'Teh O Ais Limau #1'),
 (48, 'Add-on: Bowl of Coconut Rice '),
 (49, 'Corn Pakora'),
 (50, 'Pandan Pina Colada'),
 (51, 'Tamarind Sour'),
 (52, 'Kohlrabi Kerabu'),
 (53, 'Ayam Goreng Burger'),
 (54, 'Ayam Goreng Rice Bowl'),
 (55, 'French Toast'),
 (56, 'Roti Jala'),
 (57, 'RENDANG DINNER no rice *'),
 (58, 'Regular Kaya Jar'),
 (59, '700ml'),
 (60, 'Pandan Pavlova'),
 (61, 'Soursop Soda'),
 (62, 'Corn Pakoras with poached eggs WEEKENDS'),
 (63, 'SET! Kaya EGGS'),
 (64, 'Side Portion Curry'),
 (65, 'Unpaid Banquet'),
 (66, 'Side Curry'),
 (67, 'Pineapple Aperol Spritz'),
 (68, 'T-shirt'),
 (69, 'Spicy Ginger Beer'),
 (70, 'GLASS White Wine *'),
 (71, 'Keychain'),
 (72, 'Bowl Of Chicken Rice'),
 (73, 'BOTTLE Orange Wine'),
 (74, 'Chrysanthemum Tea'),
 (75, 'Osmanthus Herbal Infusion'),
 (76, '330ml'),
 (77, 'Sambal Shrimp'),
 (78, 'Curry puffs'),
 (79, 'GLASS Red Wine'),
 (80, 'Lammsbräu Alkoholfrei'),
 (81, 'Fried egg MEE GORENG'),
 (82, 'Small Kaya Jar'),
 (83, 'Promo: Kopi & Kaya Toast'),
 (84, 'Shopping bag'),
 (85, 'Watermelon Rum'),
 (86, 'Still Water 330ml'),
 (87, 'Krupuk Udang'),
 (88, 'Chix Rendang'),
 (89, 'Add-on: Youtiao'),
 (90, 'Achar Awak'),
 (91, 'Kopi Gu Yu'),
 (92, 'Cendol'),
 (93, 'Guava Spritz'),
 (94, 'Fermented tofu'),
 (95, 'French Toast *'),
 (96, 'Mushroom Goreng Burger *'),
 (97, 'Add-on: Soft-boiled eggs'),
 (98, 'Kopi O -Kosong'),
 (99, '2pcs Ayam'),
 (100, 'BOTTLE RED Wine'),
 (101, 'Tamarind Prawns #1'),
 (102, 'Poster'),
 (103, 'Kopi C'),
 (104, 'Red Braised CHIX'),
 (105, 'Stir Fried Beans'),
 (106, 'Watermelon Fizz'),
 (107, 'Drink: YEOs Chrysanthemum'),
 (108, 'Kohlrabi Salad *'),
 (109, 'Divers Mains'),
 (110, 'Extra AUBERGINE'),
 (111, 'Asam Pedas🐟'),
 (112, 'Chix Rendang DINNER'),
 (113, 'Divers Extras'),
 (114, 'BOTTLE White Wine'),
 (115, 'Ginger'),
 (116, 'Sambal Vegan'),
 (117, 'XL Money Bag💰'),
 (118, 'Prawn Toast'),
 (119, 'Pina Colada*'),
 (120, 'Extra PRAWNS'),
 (121, 'YEOs Lychee*'),
 (122, 'Cendawan Goreng'),
 (123, 'Kerabu Pineapple Gurke Salad🍍'),
 (124, 'YEOs Soy Milk*'),
 (125, 'Guava Fizz *'),
 (126, 'Divers Alcoholic'),
 (127, 'Main: Red Braised Tofu'),
 (128, 'Divers Getränke'),
 (129, 'Minze Tee'),
 (130, 'Tempeh + anchovies'),
 (131, 'Divers Tea'),
 (132, 'Divers Starters'),
 (133, 'Lychee'),
 (134, 'Extra Ginger sauce'),
 (135, 'Extra Chilli sauce'),
 (136, 'Piñata Colada *'),
 (137, 'Divers Coffee'),
 (138, 'Kopi Peng *'),
 (139, 'Bier Bier'),
 (140, '1 x Egg (any style)'),
 (141, 'Raspberry'),
 (142, 'Kohlrabi SIDE'),
 (143, 'Sambal Fried Okra'),
 (144, 'Soy'),
 (145, 'Divers Dessert'),
 (146, 'Canetta Rose'),
 (147, 'Gluten Free'),
 (148, 'Youtiao mit Kondensmilch *'),
 (149, 'Green Beans'),
 (150, 'VEGAN AYAM GORENG 2pcs'),
 (151, 'Fried egg'),
 (152, 'Toast'),
 (153, 'Kaya Jar_'),
 (154, 'Vegetarisch'),
 (155, 'Vegan_'),
 (156, '2G'),
 (157, 'A.I.R.'),
 (158, 'Misc Extras for Drinks')]

In [529]:
# Define mask for both rows to combine
cm_kom = repo25_c['Item'].isin(['Af Kombucha_', 'Kombucha'])

# Find the index of the first 'amber' to insert the combined row
fi_kom = repo25_c[repo25_c['Item'] == 'Af Kombucha_'].index[0]

# Sum the numeric columns
sum_kom = repo25_c.loc[cm_kom, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
kom = pd.DataFrame([{
    'Item': 'Drink: Kombucha',
    'General: Count': sum_kom['General: Count'],
    'General: Total': sum_kom['General: Total'],
    'General: %': sum_kom['General: %'],
    'In-house: Count': sum_kom['In-house: Count'],
    'In-house: Total': sum_kom['In-house: Total'],
    'Take-away: Count': sum_kom['Take-away: Count'],
    'Take-away: Total': sum_kom['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_kom].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_kom]
bottom = repo25_c.iloc[fi_kom:]
repo25_c = pd.concat([top, kom, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Drink: Kombucha'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'RENDANG DINNER no rice'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Pandan Pinita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Coconut Water'),
 (44, 'Kopi Peng'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Add-on: Bowl of Coconut Rice '),
 (48, 'Corn Pakora'),
 (49, 'Pandan Pina Colada'),
 (50, 'Tamarind Sour'),
 (51, 'Kohlrabi Kerabu'),
 (52, 'Ayam Goreng Burger'),
 (53, 'Ayam Goreng Rice Bowl'),
 (54, 'French Toast'),
 (55, 'Roti Jala'),
 (56, 'RENDANG DINNER no rice *'),
 (57, 'Regular Kaya Jar'),
 (58, '700ml'),
 (59, 'Pandan Pavlova'),
 (60, 'Soursop Soda'),
 (61, 'Corn Pakoras with poached eggs WEEKENDS'),
 (62, 'SET! Kaya EGGS'),
 (63, 'Side Portion Curry'),
 (64, 'Unpaid Banquet'),
 (65, 'Side Curry'),
 (66, 'Pineapple Aperol Spritz'),
 (67, 'T-shirt'),
 (68, 'Spicy Ginger Beer'),
 (69, 'GLASS White Wine *'),
 (70, 'Keychain'),
 (71, 'Bowl Of Chicken Rice'),
 (72, 'BOTTLE Orange Wine'),
 (73, 'Chrysanthemum Tea'),
 (74, 'Osmanthus Herbal Infusion'),
 (75, '330ml'),
 (76, 'Sambal Shrimp'),
 (77, 'Curry puffs'),
 (78, 'GLASS Red Wine'),
 (79, 'Lammsbräu Alkoholfrei'),
 (80, 'Fried egg MEE GORENG'),
 (81, 'Small Kaya Jar'),
 (82, 'Promo: Kopi & Kaya Toast'),
 (83, 'Shopping bag'),
 (84, 'Watermelon Rum'),
 (85, 'Still Water 330ml'),
 (86, 'Krupuk Udang'),
 (87, 'Chix Rendang'),
 (88, 'Add-on: Youtiao'),
 (89, 'Achar Awak'),
 (90, 'Kopi Gu Yu'),
 (91, 'Cendol'),
 (92, 'Guava Spritz'),
 (93, 'Fermented tofu'),
 (94, 'French Toast *'),
 (95, 'Mushroom Goreng Burger *'),
 (96, 'Add-on: Soft-boiled eggs'),
 (97, 'Kopi O -Kosong'),
 (98, '2pcs Ayam'),
 (99, 'BOTTLE RED Wine'),
 (100, 'Tamarind Prawns #1'),
 (101, 'Poster'),
 (102, 'Kopi C'),
 (103, 'Red Braised CHIX'),
 (104, 'Stir Fried Beans'),
 (105, 'Watermelon Fizz'),
 (106, 'Drink: YEOs Chrysanthemum'),
 (107, 'Kohlrabi Salad *'),
 (108, 'Divers Mains'),
 (109, 'Extra AUBERGINE'),
 (110, 'Asam Pedas🐟'),
 (111, 'Chix Rendang DINNER'),
 (112, 'Divers Extras'),
 (113, 'BOTTLE White Wine'),
 (114, 'Ginger'),
 (115, 'Sambal Vegan'),
 (116, 'XL Money Bag💰'),
 (117, 'Prawn Toast'),
 (118, 'Pina Colada*'),
 (119, 'Extra PRAWNS'),
 (120, 'YEOs Lychee*'),
 (121, 'Cendawan Goreng'),
 (122, 'Kerabu Pineapple Gurke Salad🍍'),
 (123, 'YEOs Soy Milk*'),
 (124, 'Guava Fizz *'),
 (125, 'Divers Alcoholic'),
 (126, 'Main: Red Braised Tofu'),
 (127, 'Divers Getränke'),
 (128, 'Minze Tee'),
 (129, 'Tempeh + anchovies'),
 (130, 'Divers Tea'),
 (131, 'Divers Starters'),
 (132, 'Lychee'),
 (133, 'Extra Ginger sauce'),
 (134, 'Extra Chilli sauce'),
 (135, 'Piñata Colada *'),
 (136, 'Divers Coffee'),
 (137, 'Kopi Peng *'),
 (138, 'Bier Bier'),
 (139, '1 x Egg (any style)'),
 (140, 'Raspberry'),
 (141, 'Kohlrabi SIDE'),
 (142, 'Sambal Fried Okra'),
 (143, 'Soy'),
 (144, 'Divers Dessert'),
 (145, 'Canetta Rose'),
 (146, 'Gluten Free'),
 (147, 'Youtiao mit Kondensmilch *'),
 (148, 'Green Beans'),
 (149, 'VEGAN AYAM GORENG 2pcs'),
 (150, 'Fried egg'),
 (151, 'Toast'),
 (152, 'Kaya Jar_'),
 (153, 'Vegetarisch'),
 (154, 'Vegan_'),
 (155, '2G'),
 (156, 'A.I.R.'),
 (157, 'Misc Extras for Drinks')]

In [530]:
# Define mask for both rows to combine
cm_ren = repo25_c['Item'].isin(['RENDANG DINNER no rice', 'RENDANG DINNER no rice *'])

# Find the index of the first 'amber' to insert the combined row
fi_ren = repo25_c[repo25_c['Item'] == 'RENDANG DINNER no rice'].index[0]

# Sum the numeric columns
sum_ren = repo25_c.loc[cm_ren, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
ren = pd.DataFrame([{
    'Item': 'Main: Rendang Curry, no rice (Dinner)',
    'General: Count': sum_ren['General: Count'],
    'General: Total': sum_ren['General: Total'],
    'General: %': sum_ren['General: %'],
    'In-house: Count': sum_ren['In-house: Count'],
    'In-house: Total': sum_ren['In-house: Total'],
    'Take-away: Count': sum_ren['Take-away: Count'],
    'Take-away: Total': sum_ren['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_ren].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_ren]
bottom = repo25_c.iloc[fi_ren:]
repo25_c = pd.concat([top, ren, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Drink: Kombucha'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'Main: Rendang Curry, no rice (Dinner)'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Pandan Pinita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Coconut Water'),
 (44, 'Kopi Peng'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Add-on: Bowl of Coconut Rice '),
 (48, 'Corn Pakora'),
 (49, 'Pandan Pina Colada'),
 (50, 'Tamarind Sour'),
 (51, 'Kohlrabi Kerabu'),
 (52, 'Ayam Goreng Burger'),
 (53, 'Ayam Goreng Rice Bowl'),
 (54, 'French Toast'),
 (55, 'Roti Jala'),
 (56, 'Regular Kaya Jar'),
 (57, '700ml'),
 (58, 'Pandan Pavlova'),
 (59, 'Soursop Soda'),
 (60, 'Corn Pakoras with poached eggs WEEKENDS'),
 (61, 'SET! Kaya EGGS'),
 (62, 'Side Portion Curry'),
 (63, 'Unpaid Banquet'),
 (64, 'Side Curry'),
 (65, 'Pineapple Aperol Spritz'),
 (66, 'T-shirt'),
 (67, 'Spicy Ginger Beer'),
 (68, 'GLASS White Wine *'),
 (69, 'Keychain'),
 (70, 'Bowl Of Chicken Rice'),
 (71, 'BOTTLE Orange Wine'),
 (72, 'Chrysanthemum Tea'),
 (73, 'Osmanthus Herbal Infusion'),
 (74, '330ml'),
 (75, 'Sambal Shrimp'),
 (76, 'Curry puffs'),
 (77, 'GLASS Red Wine'),
 (78, 'Lammsbräu Alkoholfrei'),
 (79, 'Fried egg MEE GORENG'),
 (80, 'Small Kaya Jar'),
 (81, 'Promo: Kopi & Kaya Toast'),
 (82, 'Shopping bag'),
 (83, 'Watermelon Rum'),
 (84, 'Still Water 330ml'),
 (85, 'Krupuk Udang'),
 (86, 'Chix Rendang'),
 (87, 'Add-on: Youtiao'),
 (88, 'Achar Awak'),
 (89, 'Kopi Gu Yu'),
 (90, 'Cendol'),
 (91, 'Guava Spritz'),
 (92, 'Fermented tofu'),
 (93, 'French Toast *'),
 (94, 'Mushroom Goreng Burger *'),
 (95, 'Add-on: Soft-boiled eggs'),
 (96, 'Kopi O -Kosong'),
 (97, '2pcs Ayam'),
 (98, 'BOTTLE RED Wine'),
 (99, 'Tamarind Prawns #1'),
 (100, 'Poster'),
 (101, 'Kopi C'),
 (102, 'Red Braised CHIX'),
 (103, 'Stir Fried Beans'),
 (104, 'Watermelon Fizz'),
 (105, 'Drink: YEOs Chrysanthemum'),
 (106, 'Kohlrabi Salad *'),
 (107, 'Divers Mains'),
 (108, 'Extra AUBERGINE'),
 (109, 'Asam Pedas🐟'),
 (110, 'Chix Rendang DINNER'),
 (111, 'Divers Extras'),
 (112, 'BOTTLE White Wine'),
 (113, 'Ginger'),
 (114, 'Sambal Vegan'),
 (115, 'XL Money Bag💰'),
 (116, 'Prawn Toast'),
 (117, 'Pina Colada*'),
 (118, 'Extra PRAWNS'),
 (119, 'YEOs Lychee*'),
 (120, 'Cendawan Goreng'),
 (121, 'Kerabu Pineapple Gurke Salad🍍'),
 (122, 'YEOs Soy Milk*'),
 (123, 'Guava Fizz *'),
 (124, 'Divers Alcoholic'),
 (125, 'Main: Red Braised Tofu'),
 (126, 'Divers Getränke'),
 (127, 'Minze Tee'),
 (128, 'Tempeh + anchovies'),
 (129, 'Divers Tea'),
 (130, 'Divers Starters'),
 (131, 'Lychee'),
 (132, 'Extra Ginger sauce'),
 (133, 'Extra Chilli sauce'),
 (134, 'Piñata Colada *'),
 (135, 'Divers Coffee'),
 (136, 'Kopi Peng *'),
 (137, 'Bier Bier'),
 (138, '1 x Egg (any style)'),
 (139, 'Raspberry'),
 (140, 'Kohlrabi SIDE'),
 (141, 'Sambal Fried Okra'),
 (142, 'Soy'),
 (143, 'Divers Dessert'),
 (144, 'Canetta Rose'),
 (145, 'Gluten Free'),
 (146, 'Youtiao mit Kondensmilch *'),
 (147, 'Green Beans'),
 (148, 'VEGAN AYAM GORENG 2pcs'),
 (149, 'Fried egg'),
 (150, 'Toast'),
 (151, 'Kaya Jar_'),
 (152, 'Vegetarisch'),
 (153, 'Vegan_'),
 (154, '2G'),
 (155, 'A.I.R.'),
 (156, 'Misc Extras for Drinks')]

In [531]:
# Define mask for both rows to combine
cm_pin = repo25_c['Item'].isin(['Pandan Pinita Colada', 'Piñata Colada *'])

# Find the index of the first 'amber' to insert the combined row
fi_pin = repo25_c[repo25_c['Item'] == 'Pandan Pinita Colada'].index[0]

# Sum the numeric columns
sum_pin = repo25_c.loc[cm_pin, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
pin = pd.DataFrame([{
    'Item': 'Drink: Pandan Piñita Colada',
    'General: Count': sum_pin['General: Count'],
    'General: Total': sum_pin['General: Total'],
    'General: %': sum_pin['General: %'],
    'In-house: Count': sum_pin['In-house: Count'],
    'In-house: Total': sum_pin['In-house: Total'],
    'Take-away: Count': sum_pin['Take-away: Count'],
    'Take-away: Total': sum_pin['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_pin].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_pin]
bottom = repo25_c.iloc[fi_pin:]
repo25_c = pd.concat([top, pin, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Drink: Kombucha'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'Main: Rendang Curry, no rice (Dinner)'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Drink: Pandan Piñita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Coconut Water'),
 (44, 'Kopi Peng'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Add-on: Bowl of Coconut Rice '),
 (48, 'Corn Pakora'),
 (49, 'Pandan Pina Colada'),
 (50, 'Tamarind Sour'),
 (51, 'Kohlrabi Kerabu'),
 (52, 'Ayam Goreng Burger'),
 (53, 'Ayam Goreng Rice Bowl'),
 (54, 'French Toast'),
 (55, 'Roti Jala'),
 (56, 'Regular Kaya Jar'),
 (57, '700ml'),
 (58, 'Pandan Pavlova'),
 (59, 'Soursop Soda'),
 (60, 'Corn Pakoras with poached eggs WEEKENDS'),
 (61, 'SET! Kaya EGGS'),
 (62, 'Side Portion Curry'),
 (63, 'Unpaid Banquet'),
 (64, 'Side Curry'),
 (65, 'Pineapple Aperol Spritz'),
 (66, 'T-shirt'),
 (67, 'Spicy Ginger Beer'),
 (68, 'GLASS White Wine *'),
 (69, 'Keychain'),
 (70, 'Bowl Of Chicken Rice'),
 (71, 'BOTTLE Orange Wine'),
 (72, 'Chrysanthemum Tea'),
 (73, 'Osmanthus Herbal Infusion'),
 (74, '330ml'),
 (75, 'Sambal Shrimp'),
 (76, 'Curry puffs'),
 (77, 'GLASS Red Wine'),
 (78, 'Lammsbräu Alkoholfrei'),
 (79, 'Fried egg MEE GORENG'),
 (80, 'Small Kaya Jar'),
 (81, 'Promo: Kopi & Kaya Toast'),
 (82, 'Shopping bag'),
 (83, 'Watermelon Rum'),
 (84, 'Still Water 330ml'),
 (85, 'Krupuk Udang'),
 (86, 'Chix Rendang'),
 (87, 'Add-on: Youtiao'),
 (88, 'Achar Awak'),
 (89, 'Kopi Gu Yu'),
 (90, 'Cendol'),
 (91, 'Guava Spritz'),
 (92, 'Fermented tofu'),
 (93, 'French Toast *'),
 (94, 'Mushroom Goreng Burger *'),
 (95, 'Add-on: Soft-boiled eggs'),
 (96, 'Kopi O -Kosong'),
 (97, '2pcs Ayam'),
 (98, 'BOTTLE RED Wine'),
 (99, 'Tamarind Prawns #1'),
 (100, 'Poster'),
 (101, 'Kopi C'),
 (102, 'Red Braised CHIX'),
 (103, 'Stir Fried Beans'),
 (104, 'Watermelon Fizz'),
 (105, 'Drink: YEOs Chrysanthemum'),
 (106, 'Kohlrabi Salad *'),
 (107, 'Divers Mains'),
 (108, 'Extra AUBERGINE'),
 (109, 'Asam Pedas🐟'),
 (110, 'Chix Rendang DINNER'),
 (111, 'Divers Extras'),
 (112, 'BOTTLE White Wine'),
 (113, 'Ginger'),
 (114, 'Sambal Vegan'),
 (115, 'XL Money Bag💰'),
 (116, 'Prawn Toast'),
 (117, 'Pina Colada*'),
 (118, 'Extra PRAWNS'),
 (119, 'YEOs Lychee*'),
 (120, 'Cendawan Goreng'),
 (121, 'Kerabu Pineapple Gurke Salad🍍'),
 (122, 'YEOs Soy Milk*'),
 (123, 'Guava Fizz *'),
 (124, 'Divers Alcoholic'),
 (125, 'Main: Red Braised Tofu'),
 (126, 'Divers Getränke'),
 (127, 'Minze Tee'),
 (128, 'Tempeh + anchovies'),
 (129, 'Divers Tea'),
 (130, 'Divers Starters'),
 (131, 'Lychee'),
 (132, 'Extra Ginger sauce'),
 (133, 'Extra Chilli sauce'),
 (134, 'Divers Coffee'),
 (135, 'Kopi Peng *'),
 (136, 'Bier Bier'),
 (137, '1 x Egg (any style)'),
 (138, 'Raspberry'),
 (139, 'Kohlrabi SIDE'),
 (140, 'Sambal Fried Okra'),
 (141, 'Soy'),
 (142, 'Divers Dessert'),
 (143, 'Canetta Rose'),
 (144, 'Gluten Free'),
 (145, 'Youtiao mit Kondensmilch *'),
 (146, 'Green Beans'),
 (147, 'VEGAN AYAM GORENG 2pcs'),
 (148, 'Fried egg'),
 (149, 'Toast'),
 (150, 'Kaya Jar_'),
 (151, 'Vegetarisch'),
 (152, 'Vegan_'),
 (153, '2G'),
 (154, 'A.I.R.'),
 (155, 'Misc Extras for Drinks')]

In [532]:
# Define mask for both rows to combine
cm_sren = repo25_c['Item'].isin(['Side Portion Curry', 'Side Curry'])

# Find the index of the first 'amber' to insert the combined row
fi_sren = repo25_c[repo25_c['Item'] == 'Side Portion Curry'].index[0]

# Sum the numeric columns
sum_sren = repo25_c.loc[cm_sren, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
sren = pd.DataFrame([{
    'Item': 'Add-on: Side portion of Rendang',
    'General: Count': sum_sren['General: Count'],
    'General: Total': sum_sren['General: Total'],
    'General: %': sum_sren['General: %'],
    'In-house: Count': sum_sren['In-house: Count'],
    'In-house: Total': sum_sren['In-house: Total'],
    'Take-away: Count': sum_sren['Take-away: Count'],
    'Take-away: Total': sum_sren['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_sren].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_sren]
bottom = repo25_c.iloc[fi_sren:]
repo25_c = pd.concat([top, sren, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Drink: Kombucha'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'Main: Rendang Curry, no rice (Dinner)'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Drink: Pandan Piñita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Coconut Water'),
 (44, 'Kopi Peng'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Add-on: Bowl of Coconut Rice '),
 (48, 'Corn Pakora'),
 (49, 'Pandan Pina Colada'),
 (50, 'Tamarind Sour'),
 (51, 'Kohlrabi Kerabu'),
 (52, 'Ayam Goreng Burger'),
 (53, 'Ayam Goreng Rice Bowl'),
 (54, 'French Toast'),
 (55, 'Roti Jala'),
 (56, 'Regular Kaya Jar'),
 (57, '700ml'),
 (58, 'Pandan Pavlova'),
 (59, 'Soursop Soda'),
 (60, 'Corn Pakoras with poached eggs WEEKENDS'),
 (61, 'SET! Kaya EGGS'),
 (62, 'Add-on: Side portion of Rendang'),
 (63, 'Unpaid Banquet'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'T-shirt'),
 (66, 'Spicy Ginger Beer'),
 (67, 'GLASS White Wine *'),
 (68, 'Keychain'),
 (69, 'Bowl Of Chicken Rice'),
 (70, 'BOTTLE Orange Wine'),
 (71, 'Chrysanthemum Tea'),
 (72, 'Osmanthus Herbal Infusion'),
 (73, '330ml'),
 (74, 'Sambal Shrimp'),
 (75, 'Curry puffs'),
 (76, 'GLASS Red Wine'),
 (77, 'Lammsbräu Alkoholfrei'),
 (78, 'Fried egg MEE GORENG'),
 (79, 'Small Kaya Jar'),
 (80, 'Promo: Kopi & Kaya Toast'),
 (81, 'Shopping bag'),
 (82, 'Watermelon Rum'),
 (83, 'Still Water 330ml'),
 (84, 'Krupuk Udang'),
 (85, 'Chix Rendang'),
 (86, 'Add-on: Youtiao'),
 (87, 'Achar Awak'),
 (88, 'Kopi Gu Yu'),
 (89, 'Cendol'),
 (90, 'Guava Spritz'),
 (91, 'Fermented tofu'),
 (92, 'French Toast *'),
 (93, 'Mushroom Goreng Burger *'),
 (94, 'Add-on: Soft-boiled eggs'),
 (95, 'Kopi O -Kosong'),
 (96, '2pcs Ayam'),
 (97, 'BOTTLE RED Wine'),
 (98, 'Tamarind Prawns #1'),
 (99, 'Poster'),
 (100, 'Kopi C'),
 (101, 'Red Braised CHIX'),
 (102, 'Stir Fried Beans'),
 (103, 'Watermelon Fizz'),
 (104, 'Drink: YEOs Chrysanthemum'),
 (105, 'Kohlrabi Salad *'),
 (106, 'Divers Mains'),
 (107, 'Extra AUBERGINE'),
 (108, 'Asam Pedas🐟'),
 (109, 'Chix Rendang DINNER'),
 (110, 'Divers Extras'),
 (111, 'BOTTLE White Wine'),
 (112, 'Ginger'),
 (113, 'Sambal Vegan'),
 (114, 'XL Money Bag💰'),
 (115, 'Prawn Toast'),
 (116, 'Pina Colada*'),
 (117, 'Extra PRAWNS'),
 (118, 'YEOs Lychee*'),
 (119, 'Cendawan Goreng'),
 (120, 'Kerabu Pineapple Gurke Salad🍍'),
 (121, 'YEOs Soy Milk*'),
 (122, 'Guava Fizz *'),
 (123, 'Divers Alcoholic'),
 (124, 'Main: Red Braised Tofu'),
 (125, 'Divers Getränke'),
 (126, 'Minze Tee'),
 (127, 'Tempeh + anchovies'),
 (128, 'Divers Tea'),
 (129, 'Divers Starters'),
 (130, 'Lychee'),
 (131, 'Extra Ginger sauce'),
 (132, 'Extra Chilli sauce'),
 (133, 'Divers Coffee'),
 (134, 'Kopi Peng *'),
 (135, 'Bier Bier'),
 (136, '1 x Egg (any style)'),
 (137, 'Raspberry'),
 (138, 'Kohlrabi SIDE'),
 (139, 'Sambal Fried Okra'),
 (140, 'Soy'),
 (141, 'Divers Dessert'),
 (142, 'Canetta Rose'),
 (143, 'Gluten Free'),
 (144, 'Youtiao mit Kondensmilch *'),
 (145, 'Green Beans'),
 (146, 'VEGAN AYAM GORENG 2pcs'),
 (147, 'Fried egg'),
 (148, 'Toast'),
 (149, 'Kaya Jar_'),
 (150, 'Vegetarisch'),
 (151, 'Vegan_'),
 (152, '2G'),
 (153, 'A.I.R.'),
 (154, 'Misc Extras for Drinks')]

In [533]:
# Define mask for both rows to combine
cm_hkkft = repo25_c['Item'].isin(['French Toast', 'French Toast *'])

# Find the index of the first 'amber' to insert the combined row
fi_hkkft = repo25_c[repo25_c['Item'] == 'French Toast'].index[0]

# Sum the numeric columns
sum_hkkft = repo25_c.loc[cm_hkkft, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
hkkft = pd.DataFrame([{
    'Item': 'Starter: Hong Kong Kaya French Toast',
    'General: Count': sum_hkkft['General: Count'],
    'General: Total': sum_hkkft['General: Total'],
    'General: %': sum_hkkft['General: %'],
    'In-house: Count': sum_hkkft['In-house: Count'],
    'In-house: Total': sum_hkkft['In-house: Total'],
    'Take-away: Count': sum_hkkft['Take-away: Count'],
    'Take-away: Total': sum_hkkft['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_hkkft].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_hkkft]
bottom = repo25_c.iloc[fi_hkkft:]
repo25_c = pd.concat([top, hkkft, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Drink: Kombucha'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'Main: Rendang Curry, no rice (Dinner)'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'AYAM GORENG 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Drink: Pandan Piñita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Coconut Water'),
 (44, 'Kopi Peng'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Add-on: Bowl of Coconut Rice '),
 (48, 'Corn Pakora'),
 (49, 'Pandan Pina Colada'),
 (50, 'Tamarind Sour'),
 (51, 'Kohlrabi Kerabu'),
 (52, 'Ayam Goreng Burger'),
 (53, 'Ayam Goreng Rice Bowl'),
 (54, 'Starter: Hong Kong Kaya French Toast'),
 (55, 'Roti Jala'),
 (56, 'Regular Kaya Jar'),
 (57, '700ml'),
 (58, 'Pandan Pavlova'),
 (59, 'Soursop Soda'),
 (60, 'Corn Pakoras with poached eggs WEEKENDS'),
 (61, 'SET! Kaya EGGS'),
 (62, 'Add-on: Side portion of Rendang'),
 (63, 'Unpaid Banquet'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'T-shirt'),
 (66, 'Spicy Ginger Beer'),
 (67, 'GLASS White Wine *'),
 (68, 'Keychain'),
 (69, 'Bowl Of Chicken Rice'),
 (70, 'BOTTLE Orange Wine'),
 (71, 'Chrysanthemum Tea'),
 (72, 'Osmanthus Herbal Infusion'),
 (73, '330ml'),
 (74, 'Sambal Shrimp'),
 (75, 'Curry puffs'),
 (76, 'GLASS Red Wine'),
 (77, 'Lammsbräu Alkoholfrei'),
 (78, 'Fried egg MEE GORENG'),
 (79, 'Small Kaya Jar'),
 (80, 'Promo: Kopi & Kaya Toast'),
 (81, 'Shopping bag'),
 (82, 'Watermelon Rum'),
 (83, 'Still Water 330ml'),
 (84, 'Krupuk Udang'),
 (85, 'Chix Rendang'),
 (86, 'Add-on: Youtiao'),
 (87, 'Achar Awak'),
 (88, 'Kopi Gu Yu'),
 (89, 'Cendol'),
 (90, 'Guava Spritz'),
 (91, 'Fermented tofu'),
 (92, 'Mushroom Goreng Burger *'),
 (93, 'Add-on: Soft-boiled eggs'),
 (94, 'Kopi O -Kosong'),
 (95, '2pcs Ayam'),
 (96, 'BOTTLE RED Wine'),
 (97, 'Tamarind Prawns #1'),
 (98, 'Poster'),
 (99, 'Kopi C'),
 (100, 'Red Braised CHIX'),
 (101, 'Stir Fried Beans'),
 (102, 'Watermelon Fizz'),
 (103, 'Drink: YEOs Chrysanthemum'),
 (104, 'Kohlrabi Salad *'),
 (105, 'Divers Mains'),
 (106, 'Extra AUBERGINE'),
 (107, 'Asam Pedas🐟'),
 (108, 'Chix Rendang DINNER'),
 (109, 'Divers Extras'),
 (110, 'BOTTLE White Wine'),
 (111, 'Ginger'),
 (112, 'Sambal Vegan'),
 (113, 'XL Money Bag💰'),
 (114, 'Prawn Toast'),
 (115, 'Pina Colada*'),
 (116, 'Extra PRAWNS'),
 (117, 'YEOs Lychee*'),
 (118, 'Cendawan Goreng'),
 (119, 'Kerabu Pineapple Gurke Salad🍍'),
 (120, 'YEOs Soy Milk*'),
 (121, 'Guava Fizz *'),
 (122, 'Divers Alcoholic'),
 (123, 'Main: Red Braised Tofu'),
 (124, 'Divers Getränke'),
 (125, 'Minze Tee'),
 (126, 'Tempeh + anchovies'),
 (127, 'Divers Tea'),
 (128, 'Divers Starters'),
 (129, 'Lychee'),
 (130, 'Extra Ginger sauce'),
 (131, 'Extra Chilli sauce'),
 (132, 'Divers Coffee'),
 (133, 'Kopi Peng *'),
 (134, 'Bier Bier'),
 (135, '1 x Egg (any style)'),
 (136, 'Raspberry'),
 (137, 'Kohlrabi SIDE'),
 (138, 'Sambal Fried Okra'),
 (139, 'Soy'),
 (140, 'Divers Dessert'),
 (141, 'Canetta Rose'),
 (142, 'Gluten Free'),
 (143, 'Youtiao mit Kondensmilch *'),
 (144, 'Green Beans'),
 (145, 'VEGAN AYAM GORENG 2pcs'),
 (146, 'Fried egg'),
 (147, 'Toast'),
 (148, 'Kaya Jar_'),
 (149, 'Vegetarisch'),
 (150, 'Vegan_'),
 (151, '2G'),
 (152, 'A.I.R.'),
 (153, 'Misc Extras for Drinks')]

In [534]:
# Define mask for both rows to combine
cm_ayam2 = repo25_c['Item'].isin(['AYAM GORENG 2pcs', '2pcs Ayam'])

# Find the index of the first 'amber' to insert the combined row
fi_ayam2 = repo25_c[repo25_c['Item'] == 'AYAM GORENG 2pcs'].index[0]

# Sum the numeric columns
sum_ayam2 = repo25_c.loc[cm_ayam2, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
ayam2 = pd.DataFrame([{
    'Item': 'Add-on: Ayam Goreng 2pcs',
    'General: Count': sum_ayam2['General: Count'],
    'General: Total': sum_ayam2['General: Total'],
    'General: %': sum_ayam2['General: %'],
    'In-house: Count': sum_ayam2['In-house: Count'],
    'In-house: Total': sum_ayam2['In-house: Total'],
    'Take-away: Count': sum_ayam2['Take-away: Count'],
    'Take-away: Total': sum_ayam2['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_ayam2].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_ayam2]
bottom = repo25_c.iloc[fi_ayam2:]
repo25_c = pd.concat([top, ayam2, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Drink: Kombucha'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'Main: Rendang Curry, no rice (Dinner)'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'Add-on: Ayam Goreng 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Drink: Pandan Piñita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Coconut Water'),
 (44, 'Kopi Peng'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Add-on: Bowl of Coconut Rice '),
 (48, 'Corn Pakora'),
 (49, 'Pandan Pina Colada'),
 (50, 'Tamarind Sour'),
 (51, 'Kohlrabi Kerabu'),
 (52, 'Ayam Goreng Burger'),
 (53, 'Ayam Goreng Rice Bowl'),
 (54, 'Starter: Hong Kong Kaya French Toast'),
 (55, 'Roti Jala'),
 (56, 'Regular Kaya Jar'),
 (57, '700ml'),
 (58, 'Pandan Pavlova'),
 (59, 'Soursop Soda'),
 (60, 'Corn Pakoras with poached eggs WEEKENDS'),
 (61, 'SET! Kaya EGGS'),
 (62, 'Add-on: Side portion of Rendang'),
 (63, 'Unpaid Banquet'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'T-shirt'),
 (66, 'Spicy Ginger Beer'),
 (67, 'GLASS White Wine *'),
 (68, 'Keychain'),
 (69, 'Bowl Of Chicken Rice'),
 (70, 'BOTTLE Orange Wine'),
 (71, 'Chrysanthemum Tea'),
 (72, 'Osmanthus Herbal Infusion'),
 (73, '330ml'),
 (74, 'Sambal Shrimp'),
 (75, 'Curry puffs'),
 (76, 'GLASS Red Wine'),
 (77, 'Lammsbräu Alkoholfrei'),
 (78, 'Fried egg MEE GORENG'),
 (79, 'Small Kaya Jar'),
 (80, 'Promo: Kopi & Kaya Toast'),
 (81, 'Shopping bag'),
 (82, 'Watermelon Rum'),
 (83, 'Still Water 330ml'),
 (84, 'Krupuk Udang'),
 (85, 'Chix Rendang'),
 (86, 'Add-on: Youtiao'),
 (87, 'Achar Awak'),
 (88, 'Kopi Gu Yu'),
 (89, 'Cendol'),
 (90, 'Guava Spritz'),
 (91, 'Fermented tofu'),
 (92, 'Mushroom Goreng Burger *'),
 (93, 'Add-on: Soft-boiled eggs'),
 (94, 'Kopi O -Kosong'),
 (95, 'BOTTLE RED Wine'),
 (96, 'Tamarind Prawns #1'),
 (97, 'Poster'),
 (98, 'Kopi C'),
 (99, 'Red Braised CHIX'),
 (100, 'Stir Fried Beans'),
 (101, 'Watermelon Fizz'),
 (102, 'Drink: YEOs Chrysanthemum'),
 (103, 'Kohlrabi Salad *'),
 (104, 'Divers Mains'),
 (105, 'Extra AUBERGINE'),
 (106, 'Asam Pedas🐟'),
 (107, 'Chix Rendang DINNER'),
 (108, 'Divers Extras'),
 (109, 'BOTTLE White Wine'),
 (110, 'Ginger'),
 (111, 'Sambal Vegan'),
 (112, 'XL Money Bag💰'),
 (113, 'Prawn Toast'),
 (114, 'Pina Colada*'),
 (115, 'Extra PRAWNS'),
 (116, 'YEOs Lychee*'),
 (117, 'Cendawan Goreng'),
 (118, 'Kerabu Pineapple Gurke Salad🍍'),
 (119, 'YEOs Soy Milk*'),
 (120, 'Guava Fizz *'),
 (121, 'Divers Alcoholic'),
 (122, 'Main: Red Braised Tofu'),
 (123, 'Divers Getränke'),
 (124, 'Minze Tee'),
 (125, 'Tempeh + anchovies'),
 (126, 'Divers Tea'),
 (127, 'Divers Starters'),
 (128, 'Lychee'),
 (129, 'Extra Ginger sauce'),
 (130, 'Extra Chilli sauce'),
 (131, 'Divers Coffee'),
 (132, 'Kopi Peng *'),
 (133, 'Bier Bier'),
 (134, '1 x Egg (any style)'),
 (135, 'Raspberry'),
 (136, 'Kohlrabi SIDE'),
 (137, 'Sambal Fried Okra'),
 (138, 'Soy'),
 (139, 'Divers Dessert'),
 (140, 'Canetta Rose'),
 (141, 'Gluten Free'),
 (142, 'Youtiao mit Kondensmilch *'),
 (143, 'Green Beans'),
 (144, 'VEGAN AYAM GORENG 2pcs'),
 (145, 'Fried egg'),
 (146, 'Toast'),
 (147, 'Kaya Jar_'),
 (148, 'Vegetarisch'),
 (149, 'Vegan_'),
 (150, '2G'),
 (151, 'A.I.R.'),
 (152, 'Misc Extras for Drinks')]

In [535]:
# Define mask for both rows to combine
cm_gb = repo25_c['Item'].isin(['Stir Fried Beans', 'Green Beans'])

# Find the index of the first 'amber' to insert the combined row
fi_gb = repo25_c[repo25_c['Item'] == 'Stir Fried Beans'].index[0]

# Sum the numeric columns
sum_gb = repo25_c.loc[cm_gb, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
gb = pd.DataFrame([{
    'Item': 'Add-on: Green Beans',
    'General: Count': sum_gb['General: Count'],
    'General: Total': sum_gb['General: Total'],
    'General: %': sum_gb['General: %'],
    'In-house: Count': sum_gb['In-house: Count'],
    'In-house: Total': sum_gb['In-house: Total'],
    'Take-away: Count': sum_gb['Take-away: Count'],
    'Take-away: Total': sum_gb['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_gb].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_gb]
bottom = repo25_c.iloc[fi_gb:]
repo25_c = pd.concat([top, gb, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Drink: Kombucha'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'Main: Rendang Curry, no rice (Dinner)'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'Add-on: Ayam Goreng 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Drink: Pandan Piñita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Coconut Water'),
 (44, 'Kopi Peng'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Add-on: Bowl of Coconut Rice '),
 (48, 'Corn Pakora'),
 (49, 'Pandan Pina Colada'),
 (50, 'Tamarind Sour'),
 (51, 'Kohlrabi Kerabu'),
 (52, 'Ayam Goreng Burger'),
 (53, 'Ayam Goreng Rice Bowl'),
 (54, 'Starter: Hong Kong Kaya French Toast'),
 (55, 'Roti Jala'),
 (56, 'Regular Kaya Jar'),
 (57, '700ml'),
 (58, 'Pandan Pavlova'),
 (59, 'Soursop Soda'),
 (60, 'Corn Pakoras with poached eggs WEEKENDS'),
 (61, 'SET! Kaya EGGS'),
 (62, 'Add-on: Side portion of Rendang'),
 (63, 'Unpaid Banquet'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'T-shirt'),
 (66, 'Spicy Ginger Beer'),
 (67, 'GLASS White Wine *'),
 (68, 'Keychain'),
 (69, 'Bowl Of Chicken Rice'),
 (70, 'BOTTLE Orange Wine'),
 (71, 'Chrysanthemum Tea'),
 (72, 'Osmanthus Herbal Infusion'),
 (73, '330ml'),
 (74, 'Sambal Shrimp'),
 (75, 'Curry puffs'),
 (76, 'GLASS Red Wine'),
 (77, 'Lammsbräu Alkoholfrei'),
 (78, 'Fried egg MEE GORENG'),
 (79, 'Small Kaya Jar'),
 (80, 'Promo: Kopi & Kaya Toast'),
 (81, 'Shopping bag'),
 (82, 'Watermelon Rum'),
 (83, 'Still Water 330ml'),
 (84, 'Krupuk Udang'),
 (85, 'Chix Rendang'),
 (86, 'Add-on: Youtiao'),
 (87, 'Achar Awak'),
 (88, 'Kopi Gu Yu'),
 (89, 'Cendol'),
 (90, 'Guava Spritz'),
 (91, 'Fermented tofu'),
 (92, 'Mushroom Goreng Burger *'),
 (93, 'Add-on: Soft-boiled eggs'),
 (94, 'Kopi O -Kosong'),
 (95, 'BOTTLE RED Wine'),
 (96, 'Tamarind Prawns #1'),
 (97, 'Poster'),
 (98, 'Kopi C'),
 (99, 'Red Braised CHIX'),
 (100, 'Add-on: Green Beans'),
 (101, 'Watermelon Fizz'),
 (102, 'Drink: YEOs Chrysanthemum'),
 (103, 'Kohlrabi Salad *'),
 (104, 'Divers Mains'),
 (105, 'Extra AUBERGINE'),
 (106, 'Asam Pedas🐟'),
 (107, 'Chix Rendang DINNER'),
 (108, 'Divers Extras'),
 (109, 'BOTTLE White Wine'),
 (110, 'Ginger'),
 (111, 'Sambal Vegan'),
 (112, 'XL Money Bag💰'),
 (113, 'Prawn Toast'),
 (114, 'Pina Colada*'),
 (115, 'Extra PRAWNS'),
 (116, 'YEOs Lychee*'),
 (117, 'Cendawan Goreng'),
 (118, 'Kerabu Pineapple Gurke Salad🍍'),
 (119, 'YEOs Soy Milk*'),
 (120, 'Guava Fizz *'),
 (121, 'Divers Alcoholic'),
 (122, 'Main: Red Braised Tofu'),
 (123, 'Divers Getränke'),
 (124, 'Minze Tee'),
 (125, 'Tempeh + anchovies'),
 (126, 'Divers Tea'),
 (127, 'Divers Starters'),
 (128, 'Lychee'),
 (129, 'Extra Ginger sauce'),
 (130, 'Extra Chilli sauce'),
 (131, 'Divers Coffee'),
 (132, 'Kopi Peng *'),
 (133, 'Bier Bier'),
 (134, '1 x Egg (any style)'),
 (135, 'Raspberry'),
 (136, 'Kohlrabi SIDE'),
 (137, 'Sambal Fried Okra'),
 (138, 'Soy'),
 (139, 'Divers Dessert'),
 (140, 'Canetta Rose'),
 (141, 'Gluten Free'),
 (142, 'Youtiao mit Kondensmilch *'),
 (143, 'VEGAN AYAM GORENG 2pcs'),
 (144, 'Fried egg'),
 (145, 'Toast'),
 (146, 'Kaya Jar_'),
 (147, 'Vegetarisch'),
 (148, 'Vegan_'),
 (149, '2G'),
 (150, 'A.I.R.'),
 (151, 'Misc Extras for Drinks')]

In [536]:
# Define mask for both rows to combine
cm_kohl = repo25_c['Item'].isin(['Kohlrabi Kerabu', 'Kohlrabi Salad *'])

# Find the index of the first 'amber' to insert the combined row
fi_kohl = repo25_c[repo25_c['Item'] == 'Kohlrabi Kerabu'].index[0]

# Sum the numeric columns
sum_kohl = repo25_c.loc[cm_kohl, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
kohl = pd.DataFrame([{
    'Item': 'Main: Kohlrabi Kerabu',
    'General: Count': sum_kohl['General: Count'],
    'General: Total': sum_kohl['General: Total'],
    'General: %': sum_kohl['General: %'],
    'In-house: Count': sum_kohl['In-house: Count'],
    'In-house: Total': sum_kohl['In-house: Total'],
    'Take-away: Count': sum_kohl['Take-away: Count'],
    'Take-away: Total': sum_kohl['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_kohl].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_kohl]
bottom = repo25_c.iloc[fi_kohl:]
repo25_c = pd.concat([top, kohl, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Drink: Kombucha'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'Main: Rendang Curry, no rice (Dinner)'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'Add-on: Ayam Goreng 2pcs'),
 (39, 'Gurke Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Drink: Pandan Piñita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Coconut Water'),
 (44, 'Kopi Peng'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Add-on: Bowl of Coconut Rice '),
 (48, 'Corn Pakora'),
 (49, 'Pandan Pina Colada'),
 (50, 'Tamarind Sour'),
 (51, 'Main: Kohlrabi Kerabu'),
 (52, 'Ayam Goreng Burger'),
 (53, 'Ayam Goreng Rice Bowl'),
 (54, 'Starter: Hong Kong Kaya French Toast'),
 (55, 'Roti Jala'),
 (56, 'Regular Kaya Jar'),
 (57, '700ml'),
 (58, 'Pandan Pavlova'),
 (59, 'Soursop Soda'),
 (60, 'Corn Pakoras with poached eggs WEEKENDS'),
 (61, 'SET! Kaya EGGS'),
 (62, 'Add-on: Side portion of Rendang'),
 (63, 'Unpaid Banquet'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'T-shirt'),
 (66, 'Spicy Ginger Beer'),
 (67, 'GLASS White Wine *'),
 (68, 'Keychain'),
 (69, 'Bowl Of Chicken Rice'),
 (70, 'BOTTLE Orange Wine'),
 (71, 'Chrysanthemum Tea'),
 (72, 'Osmanthus Herbal Infusion'),
 (73, '330ml'),
 (74, 'Sambal Shrimp'),
 (75, 'Curry puffs'),
 (76, 'GLASS Red Wine'),
 (77, 'Lammsbräu Alkoholfrei'),
 (78, 'Fried egg MEE GORENG'),
 (79, 'Small Kaya Jar'),
 (80, 'Promo: Kopi & Kaya Toast'),
 (81, 'Shopping bag'),
 (82, 'Watermelon Rum'),
 (83, 'Still Water 330ml'),
 (84, 'Krupuk Udang'),
 (85, 'Chix Rendang'),
 (86, 'Add-on: Youtiao'),
 (87, 'Achar Awak'),
 (88, 'Kopi Gu Yu'),
 (89, 'Cendol'),
 (90, 'Guava Spritz'),
 (91, 'Fermented tofu'),
 (92, 'Mushroom Goreng Burger *'),
 (93, 'Add-on: Soft-boiled eggs'),
 (94, 'Kopi O -Kosong'),
 (95, 'BOTTLE RED Wine'),
 (96, 'Tamarind Prawns #1'),
 (97, 'Poster'),
 (98, 'Kopi C'),
 (99, 'Red Braised CHIX'),
 (100, 'Add-on: Green Beans'),
 (101, 'Watermelon Fizz'),
 (102, 'Drink: YEOs Chrysanthemum'),
 (103, 'Divers Mains'),
 (104, 'Extra AUBERGINE'),
 (105, 'Asam Pedas🐟'),
 (106, 'Chix Rendang DINNER'),
 (107, 'Divers Extras'),
 (108, 'BOTTLE White Wine'),
 (109, 'Ginger'),
 (110, 'Sambal Vegan'),
 (111, 'XL Money Bag💰'),
 (112, 'Prawn Toast'),
 (113, 'Pina Colada*'),
 (114, 'Extra PRAWNS'),
 (115, 'YEOs Lychee*'),
 (116, 'Cendawan Goreng'),
 (117, 'Kerabu Pineapple Gurke Salad🍍'),
 (118, 'YEOs Soy Milk*'),
 (119, 'Guava Fizz *'),
 (120, 'Divers Alcoholic'),
 (121, 'Main: Red Braised Tofu'),
 (122, 'Divers Getränke'),
 (123, 'Minze Tee'),
 (124, 'Tempeh + anchovies'),
 (125, 'Divers Tea'),
 (126, 'Divers Starters'),
 (127, 'Lychee'),
 (128, 'Extra Ginger sauce'),
 (129, 'Extra Chilli sauce'),
 (130, 'Divers Coffee'),
 (131, 'Kopi Peng *'),
 (132, 'Bier Bier'),
 (133, '1 x Egg (any style)'),
 (134, 'Raspberry'),
 (135, 'Kohlrabi SIDE'),
 (136, 'Sambal Fried Okra'),
 (137, 'Soy'),
 (138, 'Divers Dessert'),
 (139, 'Canetta Rose'),
 (140, 'Gluten Free'),
 (141, 'Youtiao mit Kondensmilch *'),
 (142, 'VEGAN AYAM GORENG 2pcs'),
 (143, 'Fried egg'),
 (144, 'Toast'),
 (145, 'Kaya Jar_'),
 (146, 'Vegetarisch'),
 (147, 'Vegan_'),
 (148, '2G'),
 (149, 'A.I.R.'),
 (150, 'Misc Extras for Drinks')]

In [537]:
# Define mask for both rows to combine
cm_kpine = repo25_c['Item'].isin(['Gurke Pineapple Salad', 'Kerabu Pineapple Gurke Salad🍍'])

# Find the index of the first 'amber' to insert the combined row
fi_kpine = repo25_c[repo25_c['Item'] == 'Gurke Pineapple Salad'].index[0]

# Sum the numeric columns
sum_kpine = repo25_c.loc[cm_kpine, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
kpine = pd.DataFrame([{
    'Item': 'Starter: Cucumber Pineapple Salad',
    'General: Count': sum_kpine['General: Count'],
    'General: Total': sum_kpine['General: Total'],
    'General: %': sum_kpine['General: %'],
    'In-house: Count': sum_kpine['In-house: Count'],
    'In-house: Total': sum_kpine['In-house: Total'],
    'Take-away: Count': sum_kpine['Take-away: Count'],
    'Take-away: Total': sum_kpine['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_kpine].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_kpine]
bottom = repo25_c.iloc[fi_kpine:]
repo25_c = pd.concat([top, kpine, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Drink: Kombucha'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'Main: Rendang Curry, no rice (Dinner)'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'Add-on: Ayam Goreng 2pcs'),
 (39, 'Starter: Cucumber Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Drink: Pandan Piñita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Coconut Water'),
 (44, 'Kopi Peng'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Add-on: Bowl of Coconut Rice '),
 (48, 'Corn Pakora'),
 (49, 'Pandan Pina Colada'),
 (50, 'Tamarind Sour'),
 (51, 'Main: Kohlrabi Kerabu'),
 (52, 'Ayam Goreng Burger'),
 (53, 'Ayam Goreng Rice Bowl'),
 (54, 'Starter: Hong Kong Kaya French Toast'),
 (55, 'Roti Jala'),
 (56, 'Regular Kaya Jar'),
 (57, '700ml'),
 (58, 'Pandan Pavlova'),
 (59, 'Soursop Soda'),
 (60, 'Corn Pakoras with poached eggs WEEKENDS'),
 (61, 'SET! Kaya EGGS'),
 (62, 'Add-on: Side portion of Rendang'),
 (63, 'Unpaid Banquet'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'T-shirt'),
 (66, 'Spicy Ginger Beer'),
 (67, 'GLASS White Wine *'),
 (68, 'Keychain'),
 (69, 'Bowl Of Chicken Rice'),
 (70, 'BOTTLE Orange Wine'),
 (71, 'Chrysanthemum Tea'),
 (72, 'Osmanthus Herbal Infusion'),
 (73, '330ml'),
 (74, 'Sambal Shrimp'),
 (75, 'Curry puffs'),
 (76, 'GLASS Red Wine'),
 (77, 'Lammsbräu Alkoholfrei'),
 (78, 'Fried egg MEE GORENG'),
 (79, 'Small Kaya Jar'),
 (80, 'Promo: Kopi & Kaya Toast'),
 (81, 'Shopping bag'),
 (82, 'Watermelon Rum'),
 (83, 'Still Water 330ml'),
 (84, 'Krupuk Udang'),
 (85, 'Chix Rendang'),
 (86, 'Add-on: Youtiao'),
 (87, 'Achar Awak'),
 (88, 'Kopi Gu Yu'),
 (89, 'Cendol'),
 (90, 'Guava Spritz'),
 (91, 'Fermented tofu'),
 (92, 'Mushroom Goreng Burger *'),
 (93, 'Add-on: Soft-boiled eggs'),
 (94, 'Kopi O -Kosong'),
 (95, 'BOTTLE RED Wine'),
 (96, 'Tamarind Prawns #1'),
 (97, 'Poster'),
 (98, 'Kopi C'),
 (99, 'Red Braised CHIX'),
 (100, 'Add-on: Green Beans'),
 (101, 'Watermelon Fizz'),
 (102, 'Drink: YEOs Chrysanthemum'),
 (103, 'Divers Mains'),
 (104, 'Extra AUBERGINE'),
 (105, 'Asam Pedas🐟'),
 (106, 'Chix Rendang DINNER'),
 (107, 'Divers Extras'),
 (108, 'BOTTLE White Wine'),
 (109, 'Ginger'),
 (110, 'Sambal Vegan'),
 (111, 'XL Money Bag💰'),
 (112, 'Prawn Toast'),
 (113, 'Pina Colada*'),
 (114, 'Extra PRAWNS'),
 (115, 'YEOs Lychee*'),
 (116, 'Cendawan Goreng'),
 (117, 'YEOs Soy Milk*'),
 (118, 'Guava Fizz *'),
 (119, 'Divers Alcoholic'),
 (120, 'Main: Red Braised Tofu'),
 (121, 'Divers Getränke'),
 (122, 'Minze Tee'),
 (123, 'Tempeh + anchovies'),
 (124, 'Divers Tea'),
 (125, 'Divers Starters'),
 (126, 'Lychee'),
 (127, 'Extra Ginger sauce'),
 (128, 'Extra Chilli sauce'),
 (129, 'Divers Coffee'),
 (130, 'Kopi Peng *'),
 (131, 'Bier Bier'),
 (132, '1 x Egg (any style)'),
 (133, 'Raspberry'),
 (134, 'Kohlrabi SIDE'),
 (135, 'Sambal Fried Okra'),
 (136, 'Soy'),
 (137, 'Divers Dessert'),
 (138, 'Canetta Rose'),
 (139, 'Gluten Free'),
 (140, 'Youtiao mit Kondensmilch *'),
 (141, 'VEGAN AYAM GORENG 2pcs'),
 (142, 'Fried egg'),
 (143, 'Toast'),
 (144, 'Kaya Jar_'),
 (145, 'Vegetarisch'),
 (146, 'Vegan_'),
 (147, '2G'),
 (148, 'A.I.R.'),
 (149, 'Misc Extras for Drinks')]

In [538]:
# Define mask for both rows to combine
cm_kpeng = repo25_c['Item'].isin(['Kopi Peng', 'Kopi Peng *'])

# Find the index of the first 'amber' to insert the combined row
fi_kpeng= repo25_c[repo25_c['Item'] == 'Kopi Peng'].index[0]

# Sum the numeric columns
sum_kpeng = repo25_c.loc[cm_kpeng, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
kpeng = pd.DataFrame([{
    'Item': 'Coffee: Kopi Peng',
    'General: Count': sum_kpeng['General: Count'],
    'General: Total': sum_kpeng['General: Total'],
    'General: %': sum_kpeng['General: %'],
    'In-house: Count': sum_kpeng['In-house: Count'],
    'In-house: Total': sum_kpeng['In-house: Total'],
    'Take-away: Count': sum_kpeng['Take-away: Count'],
    'Take-away: Total': sum_kpeng['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_kpeng].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_kpeng]
bottom = repo25_c.iloc[fi_kpeng:]
repo25_c = pd.concat([top, kpeng, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Drink: Kombucha'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'Main: Rendang Curry, no rice (Dinner)'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'Add-on: Ayam Goreng 2pcs'),
 (39, 'Starter: Cucumber Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Drink: Pandan Piñita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Coconut Water'),
 (44, 'Coffee: Kopi Peng'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Add-on: Bowl of Coconut Rice '),
 (48, 'Corn Pakora'),
 (49, 'Pandan Pina Colada'),
 (50, 'Tamarind Sour'),
 (51, 'Main: Kohlrabi Kerabu'),
 (52, 'Ayam Goreng Burger'),
 (53, 'Ayam Goreng Rice Bowl'),
 (54, 'Starter: Hong Kong Kaya French Toast'),
 (55, 'Roti Jala'),
 (56, 'Regular Kaya Jar'),
 (57, '700ml'),
 (58, 'Pandan Pavlova'),
 (59, 'Soursop Soda'),
 (60, 'Corn Pakoras with poached eggs WEEKENDS'),
 (61, 'SET! Kaya EGGS'),
 (62, 'Add-on: Side portion of Rendang'),
 (63, 'Unpaid Banquet'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'T-shirt'),
 (66, 'Spicy Ginger Beer'),
 (67, 'GLASS White Wine *'),
 (68, 'Keychain'),
 (69, 'Bowl Of Chicken Rice'),
 (70, 'BOTTLE Orange Wine'),
 (71, 'Chrysanthemum Tea'),
 (72, 'Osmanthus Herbal Infusion'),
 (73, '330ml'),
 (74, 'Sambal Shrimp'),
 (75, 'Curry puffs'),
 (76, 'GLASS Red Wine'),
 (77, 'Lammsbräu Alkoholfrei'),
 (78, 'Fried egg MEE GORENG'),
 (79, 'Small Kaya Jar'),
 (80, 'Promo: Kopi & Kaya Toast'),
 (81, 'Shopping bag'),
 (82, 'Watermelon Rum'),
 (83, 'Still Water 330ml'),
 (84, 'Krupuk Udang'),
 (85, 'Chix Rendang'),
 (86, 'Add-on: Youtiao'),
 (87, 'Achar Awak'),
 (88, 'Kopi Gu Yu'),
 (89, 'Cendol'),
 (90, 'Guava Spritz'),
 (91, 'Fermented tofu'),
 (92, 'Mushroom Goreng Burger *'),
 (93, 'Add-on: Soft-boiled eggs'),
 (94, 'Kopi O -Kosong'),
 (95, 'BOTTLE RED Wine'),
 (96, 'Tamarind Prawns #1'),
 (97, 'Poster'),
 (98, 'Kopi C'),
 (99, 'Red Braised CHIX'),
 (100, 'Add-on: Green Beans'),
 (101, 'Watermelon Fizz'),
 (102, 'Drink: YEOs Chrysanthemum'),
 (103, 'Divers Mains'),
 (104, 'Extra AUBERGINE'),
 (105, 'Asam Pedas🐟'),
 (106, 'Chix Rendang DINNER'),
 (107, 'Divers Extras'),
 (108, 'BOTTLE White Wine'),
 (109, 'Ginger'),
 (110, 'Sambal Vegan'),
 (111, 'XL Money Bag💰'),
 (112, 'Prawn Toast'),
 (113, 'Pina Colada*'),
 (114, 'Extra PRAWNS'),
 (115, 'YEOs Lychee*'),
 (116, 'Cendawan Goreng'),
 (117, 'YEOs Soy Milk*'),
 (118, 'Guava Fizz *'),
 (119, 'Divers Alcoholic'),
 (120, 'Main: Red Braised Tofu'),
 (121, 'Divers Getränke'),
 (122, 'Minze Tee'),
 (123, 'Tempeh + anchovies'),
 (124, 'Divers Tea'),
 (125, 'Divers Starters'),
 (126, 'Lychee'),
 (127, 'Extra Ginger sauce'),
 (128, 'Extra Chilli sauce'),
 (129, 'Divers Coffee'),
 (130, 'Bier Bier'),
 (131, '1 x Egg (any style)'),
 (132, 'Raspberry'),
 (133, 'Kohlrabi SIDE'),
 (134, 'Sambal Fried Okra'),
 (135, 'Soy'),
 (136, 'Divers Dessert'),
 (137, 'Canetta Rose'),
 (138, 'Gluten Free'),
 (139, 'Youtiao mit Kondensmilch *'),
 (140, 'VEGAN AYAM GORENG 2pcs'),
 (141, 'Fried egg'),
 (142, 'Toast'),
 (143, 'Kaya Jar_'),
 (144, 'Vegetarisch'),
 (145, 'Vegan_'),
 (146, '2G'),
 (147, 'A.I.R.'),
 (148, 'Misc Extras for Drinks')]

In [539]:
# Define mask for both rows to combine
cm_yeosoy = repo25_c['Item'].isin(['YEOs Soy Milk*', 'Soy'])

# Find the index of the first 'amber' to insert the combined row
fi_yeosoy= repo25_c[repo25_c['Item'] == 'YEOs Soy Milk*'].index[0]

# Sum the numeric columns
sum_yeosoy = repo25_c.loc[cm_yeosoy, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
yeosoy = pd.DataFrame([{
    'Item': 'Drink: YEOs Soy',
    'General: Count': sum_yeosoy['General: Count'],
    'General: Total': sum_yeosoy['General: Total'],
    'General: %': sum_yeosoy['General: %'],
    'In-house: Count': sum_yeosoy['In-house: Count'],
    'In-house: Total': sum_yeosoy['In-house: Total'],
    'Take-away: Count': sum_yeosoy['Take-away: Count'],
    'Take-away: Total': sum_yeosoy['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_yeosoy].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_yeosoy]
bottom = repo25_c.iloc[fi_yeosoy:]
repo25_c = pd.concat([top, yeosoy, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Drink: Kombucha'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'Main: Rendang Curry, no rice (Dinner)'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'Add-on: Ayam Goreng 2pcs'),
 (39, 'Starter: Cucumber Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Drink: Pandan Piñita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Coconut Water'),
 (44, 'Coffee: Kopi Peng'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Add-on: Bowl of Coconut Rice '),
 (48, 'Corn Pakora'),
 (49, 'Pandan Pina Colada'),
 (50, 'Tamarind Sour'),
 (51, 'Main: Kohlrabi Kerabu'),
 (52, 'Ayam Goreng Burger'),
 (53, 'Ayam Goreng Rice Bowl'),
 (54, 'Starter: Hong Kong Kaya French Toast'),
 (55, 'Roti Jala'),
 (56, 'Regular Kaya Jar'),
 (57, '700ml'),
 (58, 'Pandan Pavlova'),
 (59, 'Soursop Soda'),
 (60, 'Corn Pakoras with poached eggs WEEKENDS'),
 (61, 'SET! Kaya EGGS'),
 (62, 'Add-on: Side portion of Rendang'),
 (63, 'Unpaid Banquet'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'T-shirt'),
 (66, 'Spicy Ginger Beer'),
 (67, 'GLASS White Wine *'),
 (68, 'Keychain'),
 (69, 'Bowl Of Chicken Rice'),
 (70, 'BOTTLE Orange Wine'),
 (71, 'Chrysanthemum Tea'),
 (72, 'Osmanthus Herbal Infusion'),
 (73, '330ml'),
 (74, 'Sambal Shrimp'),
 (75, 'Curry puffs'),
 (76, 'GLASS Red Wine'),
 (77, 'Lammsbräu Alkoholfrei'),
 (78, 'Fried egg MEE GORENG'),
 (79, 'Small Kaya Jar'),
 (80, 'Promo: Kopi & Kaya Toast'),
 (81, 'Shopping bag'),
 (82, 'Watermelon Rum'),
 (83, 'Still Water 330ml'),
 (84, 'Krupuk Udang'),
 (85, 'Chix Rendang'),
 (86, 'Add-on: Youtiao'),
 (87, 'Achar Awak'),
 (88, 'Kopi Gu Yu'),
 (89, 'Cendol'),
 (90, 'Guava Spritz'),
 (91, 'Fermented tofu'),
 (92, 'Mushroom Goreng Burger *'),
 (93, 'Add-on: Soft-boiled eggs'),
 (94, 'Kopi O -Kosong'),
 (95, 'BOTTLE RED Wine'),
 (96, 'Tamarind Prawns #1'),
 (97, 'Poster'),
 (98, 'Kopi C'),
 (99, 'Red Braised CHIX'),
 (100, 'Add-on: Green Beans'),
 (101, 'Watermelon Fizz'),
 (102, 'Drink: YEOs Chrysanthemum'),
 (103, 'Divers Mains'),
 (104, 'Extra AUBERGINE'),
 (105, 'Asam Pedas🐟'),
 (106, 'Chix Rendang DINNER'),
 (107, 'Divers Extras'),
 (108, 'BOTTLE White Wine'),
 (109, 'Ginger'),
 (110, 'Sambal Vegan'),
 (111, 'XL Money Bag💰'),
 (112, 'Prawn Toast'),
 (113, 'Pina Colada*'),
 (114, 'Extra PRAWNS'),
 (115, 'YEOs Lychee*'),
 (116, 'Cendawan Goreng'),
 (117, 'Drink: YEOs Soy'),
 (118, 'Guava Fizz *'),
 (119, 'Divers Alcoholic'),
 (120, 'Main: Red Braised Tofu'),
 (121, 'Divers Getränke'),
 (122, 'Minze Tee'),
 (123, 'Tempeh + anchovies'),
 (124, 'Divers Tea'),
 (125, 'Divers Starters'),
 (126, 'Lychee'),
 (127, 'Extra Ginger sauce'),
 (128, 'Extra Chilli sauce'),
 (129, 'Divers Coffee'),
 (130, 'Bier Bier'),
 (131, '1 x Egg (any style)'),
 (132, 'Raspberry'),
 (133, 'Kohlrabi SIDE'),
 (134, 'Sambal Fried Okra'),
 (135, 'Divers Dessert'),
 (136, 'Canetta Rose'),
 (137, 'Gluten Free'),
 (138, 'Youtiao mit Kondensmilch *'),
 (139, 'VEGAN AYAM GORENG 2pcs'),
 (140, 'Fried egg'),
 (141, 'Toast'),
 (142, 'Kaya Jar_'),
 (143, 'Vegetarisch'),
 (144, 'Vegan_'),
 (145, '2G'),
 (146, 'A.I.R.'),
 (147, 'Misc Extras for Drinks')]

In [540]:
# Define mask for both rows to combine
cm_yeoly = repo25_c['Item'].isin(['YEOs Lychee*', 'Lychee'])

# Find the index of the first 'amber' to insert the combined row
fi_yeoly= repo25_c[repo25_c['Item'] == 'YEOs Lychee*'].index[0]

# Sum the numeric columns
sum_yeoly = repo25_c.loc[cm_yeoly, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
yeoly = pd.DataFrame([{
    'Item': 'Drink: YEOs Lychee',
    'General: Count': sum_yeoly['General: Count'],
    'General: Total': sum_yeoly['General: Total'],
    'General: %': sum_yeoly['General: %'],
    'In-house: Count': sum_yeoly['In-house: Count'],
    'In-house: Total': sum_yeoly['In-house: Total'],
    'Take-away: Count': sum_yeoly['Take-away: Count'],
    'Take-away: Total': sum_yeoly['Take-away: Total']
}])

# Remove original rows
repo25_c = repo25_c.loc[~cm_yeoly].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo25_c.iloc[:fi_yeoly]
bottom = repo25_c.iloc[fi_yeoly:]
repo25_c = pd.concat([top, yeoly, bottom], ignore_index=True)

list(repo25_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Alcoholic'),
 (6, 'Tea'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, '1. Mai'),
 (12, 'Merch'),
 (13, 'Drink: Sparkling Water'),
 (14, 'LUNAR NEW YEAR A LA CARTE'),
 (15, 'Oaf Add On Starters'),
 (16, 'Extras for Drinks'),
 (17, 'Drink: Kombucha'),
 (18, 'YEO’s Lunch PROMO'),
 (19, 'Order of Service'),
 (20, 'Nasi Lemak'),
 (21, 'Hainanese Chicken Rice'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Prawn Laksa #1'),
 (24, 'Mushroom Congee'),
 (25, 'Ayam Goreng'),
 (26, 'Tauhu Goreng'),
 (27, 'Curry Of The Week'),
 (28, 'MEE Goreng Mamak'),
 (29, 'Aubergine Laksa #1'),
 (30, 'Tiger Beer'),
 (31, 'Lychee Lime Fizz'),
 (32, 'Main: Rendang Curry, no rice (Dinner)'),
 (33, 'Kaya Butter Toast'),
 (34, 'Teh Tarik'),
 (35, 'Rendang LUNCH'),
 (36, 'Sago Pudding'),
 (37, 'Teh Ais'),
 (38, 'Add-on: Ayam Goreng 2pcs'),
 (39, 'Starter: Cucumber Pineapple Salad'),
 (40, 'Kopi'),
 (41, 'Drink: Pandan Piñita Colada'),
 (42, 'GLASS Orange Wine'),
 (43, 'Coconut Water'),
 (44, 'Coffee: Kopi Peng'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Add-on: Bowl of Coconut Rice '),
 (48, 'Corn Pakora'),
 (49, 'Pandan Pina Colada'),
 (50, 'Tamarind Sour'),
 (51, 'Main: Kohlrabi Kerabu'),
 (52, 'Ayam Goreng Burger'),
 (53, 'Ayam Goreng Rice Bowl'),
 (54, 'Starter: Hong Kong Kaya French Toast'),
 (55, 'Roti Jala'),
 (56, 'Regular Kaya Jar'),
 (57, '700ml'),
 (58, 'Pandan Pavlova'),
 (59, 'Soursop Soda'),
 (60, 'Corn Pakoras with poached eggs WEEKENDS'),
 (61, 'SET! Kaya EGGS'),
 (62, 'Add-on: Side portion of Rendang'),
 (63, 'Unpaid Banquet'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'T-shirt'),
 (66, 'Spicy Ginger Beer'),
 (67, 'GLASS White Wine *'),
 (68, 'Keychain'),
 (69, 'Bowl Of Chicken Rice'),
 (70, 'BOTTLE Orange Wine'),
 (71, 'Chrysanthemum Tea'),
 (72, 'Osmanthus Herbal Infusion'),
 (73, '330ml'),
 (74, 'Sambal Shrimp'),
 (75, 'Curry puffs'),
 (76, 'GLASS Red Wine'),
 (77, 'Lammsbräu Alkoholfrei'),
 (78, 'Fried egg MEE GORENG'),
 (79, 'Small Kaya Jar'),
 (80, 'Promo: Kopi & Kaya Toast'),
 (81, 'Shopping bag'),
 (82, 'Watermelon Rum'),
 (83, 'Still Water 330ml'),
 (84, 'Krupuk Udang'),
 (85, 'Chix Rendang'),
 (86, 'Add-on: Youtiao'),
 (87, 'Achar Awak'),
 (88, 'Kopi Gu Yu'),
 (89, 'Cendol'),
 (90, 'Guava Spritz'),
 (91, 'Fermented tofu'),
 (92, 'Mushroom Goreng Burger *'),
 (93, 'Add-on: Soft-boiled eggs'),
 (94, 'Kopi O -Kosong'),
 (95, 'BOTTLE RED Wine'),
 (96, 'Tamarind Prawns #1'),
 (97, 'Poster'),
 (98, 'Kopi C'),
 (99, 'Red Braised CHIX'),
 (100, 'Add-on: Green Beans'),
 (101, 'Watermelon Fizz'),
 (102, 'Drink: YEOs Chrysanthemum'),
 (103, 'Divers Mains'),
 (104, 'Extra AUBERGINE'),
 (105, 'Asam Pedas🐟'),
 (106, 'Chix Rendang DINNER'),
 (107, 'Divers Extras'),
 (108, 'BOTTLE White Wine'),
 (109, 'Ginger'),
 (110, 'Sambal Vegan'),
 (111, 'XL Money Bag💰'),
 (112, 'Prawn Toast'),
 (113, 'Pina Colada*'),
 (114, 'Extra PRAWNS'),
 (115, 'Drink: YEOs Lychee'),
 (116, 'Cendawan Goreng'),
 (117, 'Drink: YEOs Soy'),
 (118, 'Guava Fizz *'),
 (119, 'Divers Alcoholic'),
 (120, 'Main: Red Braised Tofu'),
 (121, 'Divers Getränke'),
 (122, 'Minze Tee'),
 (123, 'Tempeh + anchovies'),
 (124, 'Divers Tea'),
 (125, 'Divers Starters'),
 (126, 'Extra Ginger sauce'),
 (127, 'Extra Chilli sauce'),
 (128, 'Divers Coffee'),
 (129, 'Bier Bier'),
 (130, '1 x Egg (any style)'),
 (131, 'Raspberry'),
 (132, 'Kohlrabi SIDE'),
 (133, 'Sambal Fried Okra'),
 (134, 'Divers Dessert'),
 (135, 'Canetta Rose'),
 (136, 'Gluten Free'),
 (137, 'Youtiao mit Kondensmilch *'),
 (138, 'VEGAN AYAM GORENG 2pcs'),
 (139, 'Fried egg'),
 (140, 'Toast'),
 (141, 'Kaya Jar_'),
 (142, 'Vegetarisch'),
 (143, 'Vegan_'),
 (144, '2G'),
 (145, 'A.I.R.'),
 (146, 'Misc Extras for Drinks')]

In [541]:
repo25_c.loc[0, 'Item'] = 'Category: Food'

repo25_c.loc[2, 'Item'] = 'Category: Other'
repo25_c.loc[3, 'Item'] = 'Category: Main'
repo25_c.loc[4, 'Item'] = 'Category: Starter'
repo25_c.loc[5, 'Item'] = 'Drink: Alcoholic'
repo25_c.loc[6, 'Item'] = 'Category: Tea'
repo25_c.loc[7, 'Item'] = 'Category: Extra'
repo25_c.loc[8, 'Item'] = 'Category: Coffee'
repo25_c.loc[9, 'Item'] = 'Category: Dessert'
repo25_c.loc[10, 'Item'] = 'Add-on: Main'
repo25_c.loc[11, 'Item'] = 'Promo: 1. Mai'
repo25_c.loc[12, 'Item'] = 'Extra: Merch'
repo25_c.loc[14, 'Item'] = 'Promo: LNY 25'
repo25_c.loc[15, 'Item'] = 'Add-on: starter'
repo25_c.loc[16, 'Item'] = 'Add-on: drink'
repo25_c.loc[18, 'Item'] = 'Promo: YEOs Lunch'
repo25_c.loc[19, 'Item'] = 'Extra: Order of Service'
repo25_c.loc[20, 'Item'] = 'Main: Nasi Lemak'
repo25_c.loc[21, 'Item'] = 'Main: Hainanese Chicken Rice'
repo25_c.loc[22, 'Item'] = 'Main: Hainanese Chicken Rice (Dinner)'
repo25_c.loc[23, 'Item'] = 'Main: Prawn Laksa'
repo25_c.loc[24, 'Item'] = 'Main: Mushroom Congee'
repo25_c.loc[25, 'Item'] = 'Starter: Ayam Goreng'
repo25_c.loc[26, 'Item'] = 'Starter: Tauhu Goreng'
repo25_c.loc[27, 'Item'] = 'Main: Curry Of The Week'
repo25_c.loc[28, 'Item'] = 'Main: Mee Goreng Mamak'
repo25_c.loc[29, 'Item'] = 'Main: Aubergine Laksa'
repo25_c.loc[30, 'Item'] = 'Alcoholic: Tiger Beer'
repo25_c.loc[31, 'Item'] = 'Drink: Lychee Lime Fizz'
repo25_c.loc[33, 'Item'] = 'Starter: Kaya Butter Toast'
repo25_c.loc[34, 'Item'] = 'Tea: Teh Tarik'
repo25_c.loc[35, 'Item'] = 'Main: Rendang Curry'
repo25_c.loc[36, 'Item'] = 'Dessert: Sago Pudding'
repo25_c.loc[37, 'Item'] = 'Tea: Teh Ais'

repo25_c.loc[40, 'Item'] = 'Coffee: Kopi'

repo25_c.loc[42, 'Item'] = 'Alcoholic: Orange Wine Vigna Flor (Glass)'
repo25_c.loc[43, 'Item'] = 'Drink: Coconut Water'
repo25_c.loc[44, 'Item'] = 'Coffee: Kopi Peng'
repo25_c.loc[45, 'Item'] = 'Alcoholic: Lychee Gin Spritz'
repo25_c.loc[46, 'Item'] = 'Tea: Teh O Ais Limau'

repo25_c.loc[48, 'Item'] = 'Starter: Corn Pakoras'
repo25_c.loc[49, 'Item'] = 'Alcoholic: Pandan Piña Colada'
repo25_c.loc[50, 'Item'] = 'Alcoholic: Tamarind Sour'
repo25_c.loc[51, 'Item'] = 'Main: Kohlrabi Kerabu'
repo25_c.loc[52, 'Item'] = 'Main: Ayam Goreng Burger'
repo25_c.loc[53, 'Item'] = 'Promo: Ayam Goreng Rice Bowl'

repo25_c.loc[55, 'Item'] = 'Starter: Roti Jala'
repo25_c.loc[56, 'Item'] = 'Extra: Kaya Jar 220ml'
repo25_c.loc[57, 'Item'] = 'Drink: Sparkling Water 700ml'
repo25_c.loc[58, 'Item'] = 'Dessert: Pandan Pavlova'
repo25_c.loc[59, 'Item'] = 'Drink: Soursop Soda'
repo25_c.loc[60, 'Item'] = 'Main: Corn Pakoras with Poached Eggs (Weekend)'
repo25_c.loc[61, 'Item'] = 'Promo: Kopi & Kaya Toast with eggs'

repo25_c.loc[63, 'Item'] = 'Promo: Unpaid LNY 25'
repo25_c.loc[64, 'Item'] = 'Alcoholic: Pineapple Aperol Spritz'
repo25_c.loc[65, 'Item'] = 'Extra: T-shirt'
repo25_c.loc[66, 'Item'] = 'Drink: Spicy Ginger Beer'
repo25_c.loc[67, 'Item'] = 'Alcoholic: White Wine (Glass)'
repo25_c.loc[68, 'Item'] = 'Extra: Keychain'
repo25_c.loc[69, 'Item'] = 'Add-on: Bowl of Chicken Rice'
repo25_c.loc[70, 'Item'] = 'Alcoholic: Orange Wine (Bottle)'
repo25_c.loc[71, 'Item'] = 'Tea: Chrysanthemum Herbal Infusion'
repo25_c.loc[72, 'Item'] = 'Tea: Osmanthus Herbal Infusion'
repo25_c.loc[73, 'Item'] = 'Drink: Sparkling Water 330ml'
repo25_c.loc[74, 'Item'] = 'Add-on: Sambal Shrimp'
repo25_c.loc[75, 'Item'] = 'Starter: Curry Puffs'
repo25_c.loc[76, 'Item'] = 'Alcoholic: Red Wine (Glass)'
repo25_c.loc[77, 'Item'] = 'Drink: Lammsbräu Alkoholfrei'
repo25_c.loc[78, 'Item'] = 'Add-on: Fried Egg for Mee Goreng Mamak'
repo25_c.loc[79, 'Item'] = 'Extra: Kaya Jar 100ml'

repo25_c.loc[81, 'Item'] = 'Extra: Shopping bag'
repo25_c.loc[82, 'Item'] = 'Alcoholic: Watermelon Rum'
repo25_c.loc[83, 'Item'] = 'Drink: Mineral Water 330ml'
repo25_c.loc[84, 'Item'] = 'Add-on: Krupuk Udang'
repo25_c.loc[85, 'Item'] = 'Main: Chicken Rendang'
repo25_c.loc[87, 'Item'] = 'Add-on: Achar Awak'
repo25_c.loc[88, 'Item'] = 'Coffee: Kopi Gu Yu'
repo25_c.loc[89, 'Item'] = 'Dessert: Cendol'
repo25_c.loc[90, 'Item'] = 'Drink: Guava Spritz'
repo25_c.loc[91, 'Item'] = 'Add-on: Fermented tofu'
repo25_c.loc[92, 'Item'] = 'Main: Mushroom Goreng Burger'

repo25_c.loc[94, 'Item'] = 'Coffee: Kopi O -Kosong'
repo25_c.loc[95, 'Item'] = 'Alcoholic: Red Wine (Bottle)'
repo25_c.loc[96, 'Item'] = 'Starter: Tamarind Prawns'
repo25_c.loc[97, 'Item'] = 'Extra: Poster'
repo25_c.loc[98, 'Item'] = 'Coffee: Kopi C'
repo25_c.loc[99, 'Item'] = 'Main: Red Braised Chicken'

repo25_c.loc[101, 'Item'] = 'Drink: Watermelon Fizz'

repo25_c.loc[103, 'Item'] = 'Main: divers'
repo25_c.loc[104, 'Item'] = 'Add-on: Laksa Fried Aubergine'
repo25_c.loc[105, 'Item'] = 'Main: Asam Pedas'
repo25_c.loc[106, 'Item'] = 'Main: Chicken Rendang (Dinner)'
repo25_c.loc[107, 'Item'] = 'Extra: divers'
repo25_c.loc[108, 'Item'] = 'Alcoholic; White Wine (Bottle)'
repo25_c.loc[109, 'Item'] = 'Drink: Kombucha Ginger'
repo25_c.loc[110, 'Item'] = 'Add-on: Vegan Sambal'
repo25_c.loc[111, 'Item'] = 'Extra: XL Money Bag'
repo25_c.loc[112, 'Item'] = 'Starter: Prawn Toast'
repo25_c.loc[113, 'Item'] = 'Alcoholic: Pandan Piña Colada'
repo25_c.loc[114, 'Item'] = 'Add-on: Laksa Boiled Prawns'

repo25_c.loc[116, 'Item'] = 'Starter: Cendawan Goreng'

repo25_c.loc[118, 'Item'] = 'Drink: Guava Fizz'
repo25_c.loc[119, 'Item'] = 'Alcoholic: divers'

repo25_c.loc[121, 'Item'] = 'Drink: divers'
repo25_c.loc[122, 'Item'] = 'Tea: Mint tea'
repo25_c.loc[123, 'Item'] = 'Add-on: Tempeh & Anchovies'
repo25_c.loc[124, 'Item'] = 'Tea: divers'
repo25_c.loc[125, 'Item'] = 'Starters: divers'
repo25_c.loc[126, 'Item'] = 'Add-on: Spring Onion & Ginger sauce'
repo25_c.loc[127, 'Item'] = 'Add-on: Chili sauce'
repo25_c.loc[128, 'Item'] = 'Coffee: divers'
repo25_c.loc[129, 'Item'] = 'Alcoholic: Bier Bier'
repo25_c.loc[130, 'Item'] = 'Add-on: x1 Egg (any type)'
repo25_c.loc[131, 'Item'] = 'Drink: Kombucha Raspberry'
repo25_c.loc[132, 'Item'] = 'Add-on: Side portion of Kohlrabi Kerabu'
repo25_c.loc[133, 'Item'] = 'Add-on: Sambal Stir-Fried Okra'
repo25_c.loc[134, 'Item'] = 'Dessert: divers'
repo25_c.loc[135, 'Item'] = 'Alcoholic: Canetta Rosé (Glass)'
repo25_c.loc[136, 'Item'] = 'Add-on: Gluten-free bread'
repo25_c.loc[137, 'Item'] = 'Add-on: Youtiao with consensed milk'
repo25_c.loc[138, 'Item'] = 'Add-on: Vegan Ayam Goreng 2pcs'
repo25_c.loc[139, 'Item'] = 'Add-on: Fried egg'
repo25_c.loc[140, 'Item'] = 'Add-on: Toast'
repo25_c.loc[141, 'Item'] = 'Extra: Kaya Jar'
repo25_c.loc[142, 'Item'] = 'Main: Nasi Leman Vegetarian'
repo25_c.loc[143, 'Item'] = 'Main: Nasi Leman Vegan'
repo25_c.loc[144, 'Item'] = 'Extra: 2G'
repo25_c.loc[145, 'Item'] = 'Extra: A.I.R.'
repo25_c.loc[146, 'Item'] = 'Drink: extra'

In [542]:
# check df (again)

print(repo25_c.head())
print(repo25_c.columns)
print(repo25_c.info())

                Item  General: Count General: Total     General: %  \
0     Category: Food         16458.0                       75,98 %
1    Category: Drink         12235.0                 20,95 %6,06 %
2    Category: Other           826.0                        3,07 %
3     Category: Main          7691.0                       53,97 %
4  Category: Starter          3859.0                       14,33 %

  In-house: Count In-house: Total Take-away: Count Take-away: Total
0           13857                             2601
1        87832875                           438139
2             479                              347
3            6606                             1085
4            3254                              605
Index(['Item', 'General: Count', 'General: Total', 'General: %',
       'In-house: Count', 'In-house: Total', 'Take-away: Count',
       'Take-away: Total'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item              147 non-null    object
 1   General: Count    147 non-null    float64
 2   General: Total    147 non-null    object
 3   General: %        147 non-null    object
 4   In-house: Count   147 non-null    object
 5   In-house: Total   147 non-null    object
 6   Take-away: Count  147 non-null    object
 7   Take-away: Total  147 non-null    object
dtypes: float64(1), object(7)
memory usage: 9.3+ KB
None

In [543]:
# add 'Year' column

repo25_c['Year'] = '2025'
repo25_c

,Item,General: Count,General: Total,General: %,In-house: Count,In-house: Total,Take-away: Count,Take-away: Total,Year
0,Category: Food,16458.0,,"75,98 %",13857,,2601,,2025
1,Category: Drink,12235.0,,"20,95 %6,06 %",87832875,,438139,,2025
2,Category: Other,826.0,,"3,07 %",479,,347,,2025
3,Category: Main,7691.0,,"53,97 %",6606,,1085,,2025
4,Category: Starter,3859.0,,"14,33 %",3254,,605,,2025
...,...,...,...,...,...,...,...,...,...
142,Main: Nasi Leman Vegetarian,402.0,,"0,00 %",360,,42,,2025
143,Main: Nasi Leman Vegan,139.0,,"0,00 %",105,,34,,2025
144,Extra: 2G,140.0,,"0,00 %",140,,0,,2025
145,Extra: A.I.R.,68.0,,"0,00 %",67,,1,,2025
146,Drink: extra,1.0,,"0,00 %",1,,0,,2025

In [544]:
# export cleanead df to csv

repo25_c.to_csv('./data_files/repo25_c.csv', index=False)